<div class="mx-auto lg:p-8">
  <h1
    class="mb-3 mt-8 font-header text-3xl font-bold md:text-6xl lg:mb-16 lg:text-6xl"
    id="about_us"
  >
    About
  </h1>

  <p class="font-base text-base md:text-base lg:text-2xl">
    <span class="font-bold text-orange"
      >What's the overview?</span
    >
     The Bitcoin Core Review Club is a biweekly study group
    where we analyze one Bitcoin Core pull request (PR) in
    depth.
  </p>
  <ul
    class="ml-10 list-disc text-base md:text-base lg:text-2xl"
  >
    <li>
      Before each session, a PR summary and discussion
      questions are posted on GitHub.
    </li>
    <li>
      We meet every other Wednesday at 7:00 PM IST on
      Discord for a live discussion.
    </li>
    <li>
      The sessions are recorded and uploaded to YouTube for
      future reference.
    </li>
  </ul>
  <p class="my-5 text-base md:text-base lg:text-2xl">
    <span class="font-bold text-orange">Who is it for?</span
    >
     Anyone looking to contribute to Bitcoin Core can
    benefit from the Review Club. While basic programming
    and Bitcoin knowledge are helpful, they're not strict
    requirements to get started. If you're curious about
    Bitcoin's codebase, eager to understand how changes get
    reviewed and merged, and want to contribute to one of
    the most impactful open-source projects, this club is
    for you.
  </p>
  <p class="my-5 text-base md:text-base lg:text-2xl">
    <span class="font-bold text-orange"
      >What will you learn?</span
    >
  </p>
  <ul
    class="ml-10 list-disc text-base md:text-base lg:text-2xl"
  >
    <li>
      A deep understanding of Bitcoin Core's architecture,
      including its modules, folder structure, and
      workflows.
    </li>
    <li>
      Learn how Bitcoin Core's functional and unit testing
      framework works.
    </li>
    <li>
      Get familiar with best practices for reviewing pull
      requests and submitting useful feedback.
    </li>
    <li>
      Navigate the Bitcoin Core repository with confidence —
      something that can feel daunting when you're new.
    </li>
  </ul>
  <p class="my-5 text-base md:text-base lg:text-2xl">
    <span class="font-bold text-orange"
      >What's next after the Review Club?</span
    >
     Once you've participated in a few sessions and
    understand Bitcoin Core's design, testing framework, and
    review process, it's time to level up. You can start
    independently reviewing other PRs in Bitcoin Core and,
    eventually, submit your own PRs to contribute directly
    to the project.
  </p>
</div>
