<div class="lg:p-8">
  <h1
    class="mb-10 mt-20 font-header text-3xl font-bold md:text-6xl lg:mt-40 lg:text-6xl"
    id="about_us"
  >
    About the Fellowship
  </h1>

  <p class="font-base text-base md:text-lg lg:text-2xl">
    <span class="font-bold text-orange">What is it?</span>
     The Bitshala Fellowship Program is a unique opportunity
    for you to take your first step and dive into <strong
      >working in the Bitcoin FOSS ecosystem.</strong
    > Whether it’s developing innovative open-source
    software, leading an educational initiative, or
    designing solutions via UI/UX, this is where your
    contributions to Bitcoin, and an enlightening career
    begin.
  </p>
  <p class="my-10 text-base md:text-lg lg:text-2xl">
    <span class="font-bold text-orange">Who is it for?</span
    > This program is for you if you are eager to <span
      class="font-bold"
      >kickstart your Bitcoin Development/Design Career or
      delve into Educational Initiatives</span
    > within the Bitcoin Community. If you’re passionate
    about Bitcoin development, design, and education, you
    indeed belong here.
  </p>
  <p class="text-base md:text-lg lg:text-2xl">
    <span class="font-bold text-orange">How to join?</span>
     Interested? <strong>Start contributing</strong> to the
    below-listed projects, or sketch your own tech/non-tech
    education program. <strong
      >Then shoot us a formal application</strong
    >
     via the below form with your details and describe why
    you want to be part of the Bitcoin movement. We'll
    review your application and get in touch to discuss how
    you can contribute to our projects or lead new
    initiatives.
  </p>
</div>
