<div class="lg:p-8">
  <h1
    class="mb-10 mt-20 font-header text-2xl font-bold md:text-3xl lg:mt-40 lg:text-5xl"
    id="about_us"
  >
    About the Fellowship
  </h1>

  <p class="text-base font-medium md:text-base lg:text-2xl">
    <span class="font-bold text-orange">What is it?</span>
     The Bitshala Fellowship Program is a unique opportunity
    for you to take your first step and dive into <strong
      >working in the Bitcoin FOSS ecosystem.</strong
    > Whether it’s developing open-source software,
    designing innovative UI/UX, or hosting an educational
    club, here's where your contributions to Bitcoin begin,
    and an enlightening career.
  </p>

  <p class="my-10 text-base md:text-lg lg:text-2xl">

    <span class="font-bold text-orange">Who is it for?</span
    > This program is for people who are eager to <span
      class="font-bold"
      >kickstart their Bitcoin Career,</span
    > whether a dev, designer, or educator. If you’re
    passionate about Bitcoin, have the skill sets, tired of
    fiat jobs, and are motivated to contribute to the
    ecosystem. You will fit right in.
  </p>
  <p class="text-base md:text-base lg:text-2xl">
    <span class="font-bold text-orange">How to join?</span>
     Interested? <strong>Start contributing</strong> to the
    below-listed projects, or sketch your own tech/non-tech
    education program. <strong
      >Then shoot us an application</strong
    >
     via the below form with your details. We'll review your
    application and get in touch to discuss further.
  </p>
</div>
