<div class="lg:p-8">
  <h1
    class="my-8 ml-3 text-3xl font-bold md:text-6xl lg:text-6xl"
    id="about_us"
  >
    About the Apprenticeship
  </h1>

  <p class="m-4 text-base md:text-lg lg:text-2xl">
    <span class="font-bold text-orange">What is it?</span>
    The Bitshala Apprenticeship Program is a unique
    opportunity for you to take your first step and dive
    into working in the Bitcoin ecosystem. Whether it’s
    developing innovative open-source software or leading
    educational initiatives as a Community Champ, here's
    where your contributions to Bitcoin begin.
  </p>
  <p class="m-4 text-base md:text-lg lg:text-2xl">
    <span class="font-bold text-orange">Who is it for?</span
    > This program welcomes people who are eager to advance
    their Bitcoin development career or delve into
    educational initiatives within the Bitcoin community. If
    you’re passionate about Bitcoin development and
    education, you indeed belong here.
  </p>
  <p class="m-4 text-base md:text-lg lg:text-2xl">
    <span class="font-bold text-orange">How to join?</span>
    Interested? Simply fill out our online application form
    with your details and describe why you want to be part
    of the Bitshala community. We'll review your application
    and get in touch to discuss how you can contribute to
    our projects or lead new initiatives.
  </p>
</div>
