<div class="lg:p-8">
  <h1
    class="mb-10 mt-20 font-header text-2xl font-bold md:text-3xl lg:mt-40 lg:text-5xl"
    id="about_us"
  >
    About the Fellowship
  </h1>
  <p
    class="font-header text-xl font-bold text-orange lg:text-3xl"
  >
    What is it?
  </p>
  <p
    class="mt-5 text-base font-medium md:text-base lg:text-2xl"
  >
    The Bitshala Fellowship is <strong
      >where your Bitcoin career actually begins.</strong
    > Whether you're a developer, designer, or an educator -
    this is a unique opportunity for you to work on real Bitcoin
    open-source projects, under real mentors, within real outcomes.
    No bounties. No fluff. Just purely focused, collaborative,
    high-impact work that will help you <strong
      >become a serious contributor to the Bitcoin
      ecosystem.</strong
    >
  </p>

  <p
    class="mt-4 text-base font-medium md:text-base lg:text-2xl"
  >
    Fellows can contribute part-time or full-time to
    projects that make an impact - with support, guidance,
    and a vibrant community behind them. You'll learn by
    doing, build under mentorship, and gradually become a
    peer to the very people building Bitcoin's future.
  </p>

  <p
    class="mt-10 font-header text-xl font-bold text-orange lg:text-3xl"
  >
    Who is it for?
  </p>
  <p class="mt-5 text-base md:text-lg lg:text-2xl">
    This is for you if:
  </p>

  <ul
    class="list-inside list-disc space-y-1 text-base md:text-lg lg:text-2xl"
  >
    <li>
      You're a <strong
        >developer, designer, or educator</strong
      > who already understands the basics of Bitcoin
    </li>
    <li>
      You've <strong>dabbled with open-source</strong> or self-driven
      work — and want to take the next serious step
    </li>
    <li>
      You're motivated to contribute to Bitcoin <strong
        >because you care about it, not because it's
        "buzzing"</strong
      >
    </li>
    <li>
      You're looking to work under mentorship, build
      credibility, and <strong
        >grow into a full-time FOSS career</strong
      >
    </li>
    <li>
      You're based in India (or South-East Asia), and want
      to be part of a growing ecosystem with aligned people
    </li>
  </ul>

  <p class="my-4 text-base md:text-lg lg:text-2xl">
    Fellows we've worked with have gone on to lead
    educational clubs, join full-time FOSS projects, or even
    become core members of the Bitshala team.
  </p>

  <p
    class="mt-10 font-header text-xl font-bold text-orange lg:text-3xl"
  >
    What will you get out of it?
  </p>
  <p class="mt-5 text-base md:text-base lg:text-2xl">
    As a fellow, you'll have the support and structure to
    grow into a recognized contributor with:
  </p>

  <ul
    class="list-inside list-disc space-y-1 text-base md:text-base lg:text-2xl"
  >
    <li>
      <strong>$500/month stipend</strong> to focus on your work
    </li>
    <li>
      <strong>1-on-1 mentorship</strong> from experienced contributors
      to Bitcoin Core, BDK, Silent Payments, BTCPay Server, and
      more
    </li>
    <li>
      A <strong
        >real project with real stakes and impact</strong
      >
    </li>
    <li>
      <strong
        >Access to the wider Bitcoin FOSS ecosystem</strong
      >, plus support with grants if you choose to go
      independent
    </li>
    <li>
      <strong>Deep connections</strong> with aligned peers across
      India and beyond
    </li>
    <li>
      <strong>Credibility:</strong> your work will be recognized
      as proof-of-contribution in the Bitcoin community
    </li>
  </ul>

  <p
    class="mt-10 font-header text-xl font-bold text-orange lg:text-3xl"
  >
    What does a fellow actually do?
  </p>
  <p class="mt-5 text-base md:text-base lg:text-2xl">
    You'll either:
  </p>

  <ul
    class="list-inside list-disc space-y-1 text-base md:text-base lg:text-2xl"
  >
    <li>
      <strong>Join an existing project</strong> — and get matched
      with a mentor based on your skillset
    </li>
    <li>
      <strong>Or propose your own initiative</strong> — and we'll
      help you shape it into something real
    </li>
  </ul>

  <p class="my-4 text-base md:text-base lg:text-2xl">
    Your week-to-week work will involve:
  </p>

  <ul
    class="list-inside list-disc space-y-1 text-base md:text-base lg:text-2xl"
  >
    <li>Regular calls with your mentor or team</li>
    <li>Monthly log submissions & reviews</li>
    <li>
      Contributing design, code, or content depending on
      your track
    </li>
    <li>
      Collaborating in the open, through GitHub, Figma, or
      other public workflows
    </li>
  </ul>

  <p class="my-4 text-base md:text-base lg:text-2xl">
    The <strong class="text-orange">
      fellowships are typically 6 months long,</strong
    > with the possibility to extend to 12 months based on performance.
  </p>
  <p class="text-base md:text-base lg:text-2xl">
    <strong class="text-orange">
      Each fellow receives a $500/month stipend</strong
    > to support their work.
  </p>
</div>
