<div class="lg:p-8">
  <h1
    class="my-8 font-header text-3xl font-bold md:text-6xl lg:text-6xl"
    id="about_us"
  >
    About the Fellowship
  </h1>

  <p class="font-base text-base md:text-lg lg:text-2xl">
    <span class="font-bold text-orange">What is it?</span>
     The Bitshala Fellowship Program is a unique opportunity
    for you to take your first step and dive into working in
    the Bitcoin FOSS ecosystem. Whether it’s developing
    innovative open-source software or leading an
    educational initiative, here's where your contributions
    to Bitcoin begin, and an enlightening career.
  </p>
  <p class="my-5 text-base md:text-lg lg:text-2xl">
    <span class="font-bold text-orange">Who is it for?</span
    > This program is for people who are eager to kickstart
    their Bitcoin Development Career or delve into
    Educational Initiatives within the Bitcoin Community. If
    you’re passionate about Bitcoin development and
    education, you indeed belong here.
  </p>
  <p class="text-base md:text-lg lg:text-2xl">
    <span class="font-bold text-orange">How to join?</span>
     Interested? Start contributing to the below-listed
    projects, or sketch your own tech/non-tech education
    program. Then shoot us a formal application via the
    below form with your details and describe why you want
    to be part of the Bitcoin movement. We'll review your
    application and get in touch to discuss how you can
    contribute to our projects or lead new initiatives.
  </p>
</div>
