---
const list = [
  {
    logo: "/apprenticeship/optech.png",
    name: "Latest in Bitcoin Tech",
    leadBy: "Faisal",
    discord:
      "https://discord.com/events/1104831812720656540/1242345418353016843",
    desc: "Weekly Bitcoin Optech deep-dives where bitcoin enthusiasts explore the latest developments and happenings in the Bitcoin tech world",
    link: "https://discord.com/events/1104831812720656540/1242345418353016843",
    buttonText: "Tell me more  → ",
  },
  {
    logo: "/apprenticeship/readingClub.webp",
    name: "Bitcoin Reading Club",
    leadBy: "Shreyan",
    discord:
      "https://discord.com/events/1104831812720656540/1247922484230230138",
    desc: "General-purpose reading club to help build your non-tech Bitcoin knowledge. Here we dive deep into rabbit holes on philosophy, economics, and more",
    link: "https://discord.com/events/1104831812720656540/1247922484230230138",
    buttonText: "Tell me more  → ",
  },
  {
    logo: "/apprenticeship/reviewClub.webp",
    name: "Bitcoin PR Review Club",
    leadBy: "Stratospher",
    discord:
      "https://discord.com/events/1104831812720656540/1244707908382363835",
    desc: "Bi-weekly reviews to get into the weeds of Bitcoin Core. Ideal for aspiring Core Devs to learn hands-on and sharpen their dev skills along the way",
    link: "https://discord.com/events/1104831812720656540/1244707908382363835",
    buttonText: "Tell me more  → ",
  },
  {
    logo: "/apprenticeship/reviewClub.webp",
    name: "Hands On Lightning",
    leadBy: "Stratospher",
    discord:
      "https://discord.com/events/1104831812720656540/1244707908382363835",
    desc: "Bi-weekly reviews to get into the weeds of Bitcoin Core. Ideal for aspiring Core Devs to learn hands-on and sharpen their dev skills along the way",
    link: "https://discord.com/events/1104831812720656540/1244707908382363835",
    buttonText: "Tell me more  → ",
  },
  // {
  //   logo: "/apprenticeship/newIdea.webp",
  //   name: "Got a new idea for an education initiative?",
  //   desc: "Tell us more about it in your fellowship application...",
  //   link: "/fellowship",
  //   buttonText: "Apply for the Educator Fellowship  → ",
  // },
];
---

<div class="lg:p-8">
  <h1
    class="mt-20 font-header text-3xl font-bold md:text-6xl lg:mt-40 lg:text-6xl"
    id="about_us"
  >
    Explore Our Education Programs
  </h1>
  <p class="my-10 text-base md:text-lg lg:text-2xl">
    Got a fresh idea for a technical educational project?
    We’d love to hear it! Below, we showcase initiatives our
    Educators are already pursuing — use these as
    inspiration to forge your own path. Share your vision,
    and let’s collaborate to make a real impact.
  </p>

  <div
    class="mt-10 flex flex-col gap-4 p-5 md:grid md:grid-cols-2 lg:my-28 lg:grid lg:grid-cols-3 lg:gap-7 lg:p-0"
  >
    {
      list.map((item) => (
        <div class="lg: rounded-3xl bg-peach px-3 pb-3 pt-5 lg:px-5 lg:pb-5 lg:pt-8">
          <h1 class="mb-3 px-3 font-header text-xl font-medium   lg:text-3xl">
            {item.name}
          </h1>
          <p class="mb-3 px-3 text-base font-normal lg:text-xl ">
            {item.desc}
          </p>
          <a
            href={item.discord}
            class="px-3 text-orange hover:underline"
          >
            Tell me more
          </a>
          <img
            src={item.logo}
            class="mt-[32px] rounded-2xl "
            alt=""
          />
        </div>
      ))
    }
  </div>
  <!-- <div
    class="flex w-full justify-between gap-5 rounded-xl bg-[#f0f0f0] py-4 pl-5 pr-4"
  >
    <div class="my-auto text-xl lg:text-3xl">
      Got a new idea for an initiative?
    </div>
    <a href="#apply">
      <div
        class="rounded-xl bg-peach p-2 text-center lg:p-5 lg:text-xl"
      >
        Apply Now
      </div>
    </a>
  </div> -->
</div>
