---
const list = [
  {
    logo: "./people/raj.png",
    github: "#",
    twitter: "#",
    name: "Shourya Sharma",
    catagory: "Rust",
    desc: "Project description. Lorem ipsum dolor sit amet, const adipiscin elit. Quisque elit metus, nisl sollicitudinera pharetra dolor nectura, eleifendur hendrerit. Etiam bibendum enim vel ex sagittisty pretium. Proin eu tempus.Nulla dapibus nibh eget convallis tristique. Mauris vestibulum hendrerit dui. Suspendisse mattis sit amet nisi et semper. Integer eu libero nibh.",
    skills: ["Rust", "C++", "Javascript"],
  },
];
---

<div class="lg:p-8">
  <h1
    class="my-8 text-3xl font-bold md:text-6xl lg:text-6xl"
    id="about_us"
  >
    Explore Dev Projects
  </h1>
  <p class="text-base md:text-lg lg:text-2xl">
    Here are open-source projects ready for your innovation
    and expertise. Each project offers a unique opportunity
    to contribute to the Bitcoin community's growth and
    development.
  </p>
</div>
