---

---

<div class="lg:px-8">
  <div id="apply" class="mb-12 mt-6 flex justify-center lg:mt-8">
    <a
      href="https://app.bitshala.org/fellowship/applications"
      class="inline-flex items-center justify-center rounded-xl bg-orange px-8 py-4 text-center text-[26px] font-bold leading-[120%] text-white hover:bg-white hover:text-orange hover:outline hover:outline-2 hover:outline-orange md:text-[30px] lg:rounded-2xl lg:px-12 lg:py-6 lg:text-[36px]"
    >
      Apply for Fellowship
    </a>
  </div>
</div>
