<div class="lg:p-8">
  <h1
    class="mb-10 mt-20 font-header text-2xl font-bold md:text-3xl lg:mt-40 lg:text-5xl"
    id="about_us"
  >
    “Once again, what do I get as a Bitshala Fellow?”
  </h1>

  <p class="mt-5 text-base md:text-lg lg:text-2xl">
    Well, here’s what all we have to offer you...
  </p>

  <ul
    class="mt-5 list-inside list-disc space-y-1 text-base md:text-lg lg:text-2xl"
  >
    <li>$500/month (i.e. INR 40,000) stipend</li>
    <li>
      1-on-1 mentorship from experienced Bitcoin builders
    </li>
    <li>A real project with real stakes</li>
    <li>Access to the wider FOSS ecosystem</li>
    <li>
      Support with grant applications, if you choose to go
      independent
    </li>
    <li>
      Deep community connections across India and beyond
    </li>
    <li>
      Credibility: you become a person to watch in Bitcoin
    </li>
  </ul>
</div>
