<div class="lg:p-8">
  <h1
    class="my-8 font-header text-3xl md:text-6xl lg:text-6xl"
    id="contact_us"
  >
    Collaborate with us
  </h1>

  <p class="font-base text-lg md:text-lg lg:text-2xl">
    We’re open to collaborating on Bitcoin events,
    workshops, educational initiatives, and hosting other
    Bitcoin-related or community activities. Reach out to us
    and let’s work together to grow the Bitcoin community in
    India.
  </p>

  <div
    class="mt-12 flex w-full justify-between gap-5 rounded-xl bg-[#f0f0f0] py-4 pl-5 pr-4"
  >
    <div class="my-auto text-xl lg:text-3xl">
      Contact us
    </div>
    <div class="flex gap-3">
      <a href="https://wa.me/919118592188" target="_blank">
        <img
          src="/bitspace/whatsapp.png"
          class="h-10 lg:h-12 lg:w-12"
        />
      </a>
      <a
        href="mailto:contact@bitshala.org"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/bitspace/email.png"
          class="h-10 lg:h-12 lg:w-12"
        />
      </a>
      <a href="https://x.com/bitshala" target="_blank">
        <img
          src="/bitspace/twitter.png"
          class="h-10 lg:h-12 lg:w-12"
        />
      </a>
    </div>
  </div>
</div>
