<div class="lg:p-8">
  <h1
    class="mt-8 font-header text-3xl md:text-6xl lg:text-6xl"
    id="about_us"
  >
    Join the space
  </h1>

  <p class="font-base text-base md:text-lg lg:text-2xl">
    <span class="font-bold text-orange"
      >Want to co-work at Bitspace?</span
    >
     You’ll need a referral from one of our regular members
    to start co-working at the space. This helps us maintain
    a trusted and engaged community.
  </p>
  <p class="my-5 text-base md:text-lg lg:text-2xl">
    <span class="font-bold text-orange"
      >How to get invited/referred?</span
    > Attend our events, workshops, community activities,
    and meetups to connect with existing members. Once
    you’ve made some connections, ask a member to refer you!
  </p>

  <div
    class="mt-12 flex w-full justify-between gap-5 rounded-xl bg-[#f0f0f0] py-4 pl-5 pr-4"
  >
    <div class="my-auto text-lg lg:text-3xl">
      Contact us to get the finer details
    </div>
    <div class="flex gap-3">
      <a href="https://wa.me/919118592188" target="_blank">
        <img
          src="/bitspace/whatsapp.png"
          class="h-10 w-20 lg:h-12 lg:w-12"
        />
      </a>
      <a
        href="mailto:contact@bitshala.org"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/bitspace/email.png"
          class="h-10 w-20 lg:h-12 lg:w-12"
        />
      </a>
      <a href="https://x.com/bitshala" target="_blank">
        <img
          src="/bitspace/twitter.png"
          class="h-10 w-20 lg:h-12 lg:w-12"
        />
      </a>
    </div>
  </div>
</div>
