<div class="mx-auto max-w-[1280px] px-4 lg:px-0">
  <div class="flex flex-col items-start gap-[60px] self-stretch">
    <h2 class="font-header text-3xl font-bold text-[#333] lg:text-[48px] lg:leading-[77.612px]">
      "What is Bitspace?"
    </h2>
    <p class="font-base text-base font-medium text-[#333] text-justify lg:text-2xl lg:leading-[160%]">
      A FOSS hackerspace for Bitcoin, open protocols, privacy and freedom tech
      builders in India. It's open since July 2024, and operating out of
      Bangalore.
    </p>
  </div>
</div>
