---
import Layout from "../../layouts/Layout.astro";
import Carousel from "../../components/common/Carousel";
import Description from "../../components/cohortPages/Description.astro";
import CohortStructure from "../../components/cohortPages/CohortStructure.astro";
import CohortDetails from "../../components/cohortPages/CohortDetails.astro";
import Syllabus from "../../components/cohortPages/Syllabus.astro";

const headerProps = {
  heading: "",
  subheading: "",
  image: "/website-v2/cohort/bpd.webp",
  headingColor: "text-black",
  subheadingColor: "text-white",
  isContain: true,
};
---

<Layout
  title="Bitcoin Protocol Dev"
  headerProps={headerProps}
>
  <Description
    takeaways={[
      {
        name: "Understanding Bitcoin Protocol:",
        desc: "Gain insights into the fundamentals of how the Bitcoin protocol is developed, covering its history, technologies, and ongoing challenges.",
      },
      {
        name: "Practical Knowledge:",
        desc: "Acquire practical skills through hands-on assignments and real-world projects related to Bitcoin protocol development.",
      },
      {
        name: "Certificate of Completion:",
        desc: "Receive a certificate recognizing your proof-of-work and accomplishment in Bitcoin protocol development.",
      },
      {
        name: "Community",
        desc: "Join a community of like-minded learners, actively participating in discussions and collaborative learning, fostering a supportive network.",
      },
    ]}
  >
    <div slot="text">
      <h1 class="my-2 font-header text-2xl lg:text-5xl">
        Bitcoin Protocol Development Study Cohort
      </h1>
      <p class="lg:text-xl">
        Designed by Chaincode, the Bitcoin Protocol
        Development cohort is an enlightening course that
        introduces developers to the basics of how the
        Bitcoin protocol is developed. The scope covers
        topics such as the history and evolution of the
        Bitcoin protocol, the underlying technologies
        enabling its operation, and the various challenges
        and opportunities associated with its ongoing
        development and adoption.
      </p>
    </div>
  </Description>
  <CohortDetails
    format={[
      {
        name: "Format",
        desc: "Online virtual classroom",
      },
      {
        name: "Structure",
        desc: "Weekly live sessions, group discussions, and Q&A",
      },
      {
        name: "Categories",
        desc: "Bitcoin Basics, Advanced Concepts, Community Engagement",
      },
      {
        name: "Duration",
        desc: "06 weeks",
      },
    ]}
  >
    <ol slot="prerequisites" class="list-disc p-4 lg:px-8">
      <li>
        Basic knowledge of Bitcoin protocol (pre-read
        Mastering Bitcoin)
      </li>
    </ol>
    <div slot="details">
      <p class="mb-6 font-header lg:text-xl">
        Cohort level: <span class="text-white"
          >Intermediate</span
        >
      </p>
      <p class="mb-6 font-header lg:text-xl">
        This cohort assumes a basic level of Bitcoin
        protocol knowledge. Participants are expected to
        have pre-read Mastering Bitcoin as a prerequisite.
        The program spans several weeks, covering topics
        such as SegWit, mining, network block propagation,
        P2P, scripts, wallets, and more.
      </p>
    </div>
  </CohortDetails>
  <Syllabus
    syllabus={[
      {
        week: "Week 01",
        name: "Welcome to the Bitcoin Protocol Development Seminar",
        chNo: "00",
      },
      {
        week: "Week 02",
        name: "SEGWIT",
        chNo: "01",
      },
      {
        week: "Week 03",
        name: "Mining and Network Block Propagation",
        chNo: "02",
        bg: "bg-white",
      },
      {
        week: "Week 04",
        name: "P2P",
        chNo: "03",
      },
      {
        week: "Week 05",
        name: "Scripts and Wallets",
        chNo: "04",
      },
      {
        week: "Week 06",
        name: "Next Steps",
        chNo: "",
      },
    ]}
  />
  <CohortStructure />
  <Carousel client:visible />
</Layout>
