---
import Layout from "../../layouts/Layout.astro";
import Carousel from "../../components/common/Carousel";
import Description from "../../components/cohortPages/Description.astro";
import CohortStructure from "../../components/cohortPages/CohortStructure.astro";
import CohortDetails from "../../components/cohortPages/CohortDetails.astro";
import Syllabus from "../../components/cohortPages/Syllabus.astro";
const headerProps = {
  heading: "",
  subheading: "",
  image: "/website-v2/cohort/lbtcl.png",
  headingColor: "text-black",
  subheadingColor: "text-white",
};
---

<Layout title="Mastering Bitcoin" headerProps={headerProps}>
  <Description
    takeaways={[
      {
        name: "Mastery of Bitcoin Essentials",
        desc: "Delve into the fundamental chapters of Mastering Bitcoin, gaining a deep understanding of Bitcoin's core principles.",
      },
      {
        name: "Structured Learning",
        desc: "Explore key topics over a 6-week period, covering everything from Bitcoin basics to advanced concepts.",
      },
      {
        name: "Community Connection",
        desc: "Connect with like-minded individuals in engaging discussions and collaborative learning sessions.",
      },
      {
        name: "Certification of Accomplishment",
        desc: "Receive a certificate recognizing your proof-of-work and accomplishment in mastering Bitcoin.",
      },
    ]}
  >
    <div slot="text">
      <h1 class="my-2 font-header text-2xl lg:text-5xl">
        Mastering Bitcoin Study Cohort
      </h1>
      <p class="lg:text-xl">
        Mastering Bitcoin Study Cohort, inspired by Andreas Antonopoulos' seminal book on Bitcoin, is your pathway to a profound understanding and appreciation of the world's leading cryptocurrency. Immerse yourself in the intricacies of Bitcoin through our structured program, crafted for comprehensive learning.
      </p>
    </div>
  </Description>
  <CohortDetails
    format={[
      {
        name: "Format",
        desc: "Online virtual classroom",
      },
      {
        name: "Structure",
        desc: "Weekly live sessions, group discussions, and Q&A",
      },
      {
        name: "Categories",
        desc: "Bitcoin Basics, Advanced Concepts, Community Engagement",
      },
      {
        name: "Duration",
        desc: "06 weeks",
      },
    ]}
  >
    <ol slot="prerequisites" class="list-disc p-4 lg:px-8">
      <li>
        Nothing except passion for Bitcoin
      </li>
    </ol>
    <div slot="details">
      <p class="mb-6 font-header lg:text-xl">
        Cohort level: <span class="text-white"
          >Beginner</span
        >
      </p>
      <p class="mb-6 font-header lg:text-xl">
       The cohort program comprehensively covers essential chapters of "Mastering Bitcoin," providing participants with a solid foundation.
      </p>
      <p class="mb-6 font-header lg:text-xl">
       Post-cohort, participants are encouraged to join other cohorts to advance their understanding of Bitcoin.
      </p>
    </div>
  </CohortDetails>
</Layout>
<Syllabus
  syllabus={[
    {
      week: "Week 01",
      name: "Introduction and How Bitcoin Works",
      chNo: "01-02",
    },
    {
      week: "Week 02",
      name: "Bitcoin Core, Keys, Addresses",
      chNo: "03-04",
    },
    {
      week: "Week 03",
      name: "Wallets and Transactions",
      chNo: "05-06",
      bg: "bg-white",
    },
    {
      week: "Week 04",
      name: "Advanced Transactions and Scripting",
      chNo: "07",
    },
    {
      week: "Week 05",
      name: "The Bitcoin Network and The Blockchain",
      chNo: "08-09",
    },
    {
      week: "Week 06",
      name: "Mining, Consensus, Bitcoin Security, Blockchain Applications",
      chNo: "10-11-12",
    },
  ]}
/>
<CohortStructure />
<Carousel client:visible />
