<div class="lg:p-8">
  <h1
    class="mb-3 mt-8 font-header text-3xl font-bold md:text-6xl lg:mb-16 lg:text-6xl"
    id="about_us"
  >
    About
  </h1>
  <p class="font-base text-base md:text-base lg:text-2xl">
    <span class="font-bold text-orange">What is it?</span>
     It’s your weekly spot for making sense of new
    developments in the Bitcoin Tech space. What do we do
    here? It's pretty straightforward: we get together, comb
    through the Bitcoin Optech Newsletter, and discuss the
    tech that's shaping Bitcoin. No fluff, just straight
    talk and coding insights.
  </p>
  <p class="my-5 text-base md:text-base lg:text-2xl">
    <span class="font-bold text-orange">Who is it for?</span
    >
     If you’re interested in code deep dives, lively
    discussions, and hanging out with a bunch of Bitcoiners
    eager to share and learn - then this is for you! And it
    doesn't matter if you're new to the scene or a regular,
    just hop in.
  </p>
</div>
