<div class="l my-32 text-center">
  <h1
    class="font-header text-5xl font-bold md:text-6xl lg:text-9xl"
  >
    Our Alumni
  </h1>
  <p class="my-6 font-semibold text-orange lg:text-2xl">
    Empowered by Excellence
  </p>
  <p class="text-lg lg:text-2xl">
    Bitshala takes immense pride in our alumni network, a
    vibrant community of professionals who are ready to make
    significant strides across various fields.
  </p>
</div>
