---
import AboutUs from "../components/common/AboutUs.astro";
import People from "../components/home/People.astro";
import Layout from "../layouts/Layout.astro";
import CollabWithUs from "../components/bitspace/CollabWithUs.astro";

const isVisible = true;
const headerProps = {
  removeHeader: true,
};
---

<Layout
  title="About Us"
  headerProps={{
    image: "/home/about.webp",
  }}
  isVisible={true}
>
  <div
    slot="headerChild"
    class="h[30vh] flex flex-col justify-between lg:h-[70vh]"
  >
    <h1
      class="mt-28 text-center font-header text-4xl text-white lg:text-8xl xl:text-9xl"
    >
      Get to know us <br />
       a little better
    </h1>
  </div>
  <AboutUs />
  <People />
  <CollabWithUs />
</Layout>
