---
import About from "../components/apprenticeship/About.astro";
import Layout from "../layouts/Layout.astro";
import OurApprentices from "../components/apprenticeship/OurApprentices.astro";
import DevProjects from "../components/apprenticeship/DevProjects.astro";
---

<Layout
  title="Bitshala Apprenticeship"
  headerProps={{
    image: "/header/Apprenticeship_Hero.webp",
  }}
  isVisible={true}
>
  <div
    slot="headerChild"
    class="flex flex-col justify-between lg:h-[70vh]"
  >
    <h1
      class="text-center font-header text-4xl text-white lg:text-8xl xl:text-[12rem]"
    >
      BITSHALA Fellowship
    </h1>
    <h2
      class="mx-20 text-center text-xl text-white lg:font-header lg:text-5xl"
    >
      Contribute to Bitcoin FOSS or host technical study
      clubs with Bitshala's paid fellowship program. Your
      journey to making a significant impact in the Bitcoin
      world starts here!
    </h2>
    <div
      class="mt-20 flex w-full flex-col justify-center gap-3 font-bold lg:flex-row"
    >
      <a
        href="https://discord.com/invite/STeQFVEWf9"
        target="_blank"
        class="text-m mx-3 flex items-center justify-center rounded-lg bg-white p-4 text-center hover:bg-black hover:text-white hover:outline-dashed lg:w-1/3 lg:text-2xl"
        >Apply for<span class="text-orange"
          >&nbsp;developer&nbsp;
        </span>position</a
      >
      <a
        href="/cohorts"
        class="text-m mx-3 flex items-center justify-center rounded-lg bg-white p-4 text-center text-black outline-white hover:bg-black hover:text-white hover:outline-dashed lg:w-1/3 lg:text-2xl"
        >Apply for&nbsp;<span class="text-orange"
          >community champ</span
        > &nbsp;position
      </a>
    </div>
  </div>

  <About />
  <OurApprentices />
  <DevProjects />
</Layout>
