---
import Layout from "../layouts/Layout.astro";
import WhatIsBitspace from "../components/bitspace/WhatIsBitspace.astro";
import WhoWorksHere from "../components/bitspace/WhoWorksHere.astro";
import WhatHappensHere from "../components/bitspace/WhatHappensHere.astro";
import HowToCowork from "../components/bitspace/HowToCowork.astro";
import BitspaceFAQ from "../components/bitspace/BitspaceFAQ.astro";
---

<Layout
  title="Bitspace"
  headerProps={{
    image: "/bitspace/bitspace_hero.webp",
  }}
  isVisible={true}
>
  <div
    slot="headerChild"
    class="flex flex-col items-center justify-center gap-8 lg:h-[70vh] lg:gap-16"
  >
    <h1
      class="text-center font-header text-4xl font-bold text-white lg:text-8xl xl:text-[154px]"
      style="text-shadow: 4px 4px 18px rgba(0,0,0,0.16);"
    >
      Bitshala Bitspace
    </h1>
    <h2
      class="mx-auto max-w-[1164px] text-center text-lg text-white lg:text-[42px] lg:leading-[1.2]"
      style="text-shadow: 3px 3px 6px rgba(0,0,0,0.52);"
    >
      A space in Bangalore that became the gravitational center for Bitcoin
      builders in India
    </h2>
  </div>

  <div class="flex flex-col gap-20 py-16 lg:gap-[125px] lg:py-24">
    <WhatIsBitspace />
    <WhoWorksHere />
    <WhatHappensHere />
    <HowToCowork />
    <BitspaceFAQ />
  </div>
</Layout>
