---
import About from "../components/boss/about.astro";
import Things from "../components/boss/Things.astro";
import Speakers from "../components/boss/Speakers.astro";
import BackedBy from "../components/boss/BackedBy.astro";
import Footer from "../components/boss/Footer.astro";
---

<main class="bg-bossBg text-4xl text-white lg:text-lg">
  <section
    id="hero"
    class="flex w-full items-center justify-center px-4 py-4 md:px-8 lg:min-h-screen lg:px-16"
  >
    <img
      src="/boss/hero.png"
      alt="Bitshala BOSS Summit"
      class="h-auto w-full max-w-7xl object-contain"
    />
  </section>

  <section id="about">
    <About />
  </section>

  <section id="things">
    <Things />
  </section>

  <section
    id="agenda"
    class="w-full px-4 py-16 md:px-8 lg:px-24 xl:px-32"
  >
    <div class="mx-auto max-w-[1400px]">
      <h2 class="mb-4 text-center font-header text-6xl">
        Last Summit's <span class="text-[#D4FF00]"
          >Agenda</span
        > (get an idea)
      </h2>

      <div class="relative mt-16">
        <img
          src="/boss/agenda.png"
          alt="BOSS Summit Agenda"
          class="h-auto w-full"
        />
      </div>
    </div>
  </section>

  <section
    id="highlights"
    class="w-full bg-[#271A23] px-4 py-16 md:px-8 lg:px-24 xl:px-32"
  >
    <div class="mx-auto max-w-[1400px]">
      <h2 class="mb-16 font-header text-6xl">
        Glimpse and <span class="bg-[#D7FF00] text-black"
          >highlight</span
        >
      </h2>
      <img
        src="/boss/highlights.png"
        alt="BOSS Summit Highlights"
        class="h-auto w-full"
      />
    </div>
  </section>

  <section id="Speakers">
    <Speakers />
  </section>

  <section id="backed-by">
    <BackedBy />
  </section>

  <section id="footer">
    <Footer />
  </section>
</main>
