---
import Layout from "../layouts/Layout.astro";
import Hamburger from "../components/hamburger";
---

<Layout title="Welcome to Bitshala">
  <main
    style={{
      backgroundImage: `url(/website-v2/cohort/hero.png)`,
      backgroundSize: "cover",
      backgroundRepeat: "no-repeat",
      backgroundPosition: "center",
    }}
    class="m-auto flex min-h-[90vh] flex-col items-center justify-between gap-12 rounded-lg bg-black px-5 py-[10%] pt-4"
  >
    <div class="mb-10 flex w-full justify-between">
      <a href="/website-v2">
        <img
          src="/website-v2/footer/logo.png"
          class="h-16"
        />
      </a>
      <Hamburger client:only />
    </div>

    <h1
      class="text-center font-header text-3xl text-white lg:text-8xl"
    >
      Dive Deeeeeper into <span class="text-orange"
        >Bitcoin Development</span
      > with a community of learners
    </h1>
    <p
      class="w-2/3 text-center text-xl text-white lg:text-5xl"
    >
      <span class="text-orange">Study Cohorts</span> Paving
      the Way to Bitcoin Mastery
    </p>
  </main>
</Layout>
