---
import About from "../components/apprenticeship/About.astro";
import Layout from "../layouts/Layout.astro";
import OurApprentices from "../components/apprenticeship/OurApprentices.astro";
import DevProjects from "../components/apprenticeship/DevProjects.astro";
import CatalystInitiative from "../components/apprenticeship/CatalystInitiative.astro";
import Apply from "../components/apprenticeship/Apply";
---

<Layout
  title="Bitshala Fellowship"
  headerProps={{
    image: "/header/Apprenticeship_Hero.webp",
  }}
  isVisible={true}
>
  <div
    slot="headerChild"
    class="mx-auto flex h-[30vh] max-w-screen-xl flex-col justify-between"
  >
    <h1
      class="text-center font-header text-7xl font-bold text-white lg:text-[12rem]"
    >
      Bitshala Fellowship
    </h1>
    <h2
      class="mt-5 hidden text-center text-xl font-normal text-white lg:block lg:text-3xl"
    >
      Contribute to Bitcoin FOSS projects or host education
      initiatives with fellowship program. <br /> Your
      journey to making a significant impact in the Bitcoin
      world starts here!
    </h2>
    <p
      class="mt-5 block text-center text-xl font-normal text-white lg:hidden lg:text-3xl"
    >
      Contribute to Bitcoin FOSS <br /> projects or host
      education <br /> initiatives with fellowship program. <br
      /> Your journey to making a <br />
       significant impact in the <br /> Bitcoin world starts
      here!
    </p>
    <div
      class="mt-5 flex w-full justify-center font-bold lg:mt-20"
    >
      <a
        href="#apply"
        class="text-m mx-3 flex items-center justify-center rounded-2xl bg-white p-4 text-center hover:bg-black hover:text-white hover:outline-dashed lg:w-1/3 lg:text-2xl"
        >Apply for the Fellowship</a
      >
    </div>
  </div>

  <About />
  <DevProjects />
  <CatalystInitiative />
  <OurApprentices />
  <div id="apply">
    <Apply client:only />
  </div>
</Layout>
