---
import About from "../components/apprenticeship/About.astro";
import Layout from "../layouts/Layout.astro";
import OurApprentices from "../components/apprenticeship/OurApprentices.astro";
import DevProjects from "../components/apprenticeship/DevProjects.astro";
import CatalystInitiative from "../components/apprenticeship/CatalystInitiative.astro";
import Apply from "../components/apprenticeship/Apply";
import OnceAgain from "../components/apprenticeship/OnceAgain.astro";
import Instructions from "../components/apprenticeship/Instructions.astro";
---

<Layout
  title="Bitshala Fellowship"
  headerProps={{
    image: "/header/Apprenticeship_Hero.webp",
  }}
  isVisible={true}
>
  <div
    slot="headerChild"
    class="mx-auto -mt-16 flex max-w-screen-xl flex-col"
  >
    <div slot="after-heading">
    <h1
      class="text-center font-header text-4xl font-bold leading-[100%] text-[#F7F7F7] [text-shadow:6px_6px_24px_rgba(0,0,0,0.32)] md:text-6xl lg:text-[124px]"
    >
      Bitshala Fellowship
    </h1>
      <p
        class="mt-3 px-4 text-center text-[18px] font-medium leading-[120%] text-[#F7F7F7] [text-shadow:4px_4px_8px_rgba(0,0,0,0.55)] md:mt-5 md:px-0 md:text-[24px] lg:text-[32px]"
      >
        Launchpad for serious Bitcoin contributors in India & Global South. <br class="hidden lg:inline" /> Work on critical open-source projects or lead education initiatives.
      </p>

      <div
        class="mt-5 flex w-full flex-col justify-center px-4 font-bold md:px-0 lg:mt-10 lg:flex-row"
      >
        <a
          href="#apply"
          class="mx-3 flex items-center justify-center rounded-lg bg-white p-3 text-center text-[16px] font-bold leading-[120%] text-[#333] hover:bg-orange hover:text-white hover:outline-none md:text-[20px] lg:w-1/2 lg:rounded-xl lg:p-4"
          >
          Apply for the Fellowship
        </a>
      </div>
    </div>
  </div>

  <About />
  <DevProjects />
  <CatalystInitiative />
  <OurApprentices />
  <OnceAgain />
  <Instructions />
  <!-- <div id="apply">
    <Apply client:only />
  </div> -->
</Layout>
