---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Bitshala">
  <main
    style={{
      backgroundImage: `url(home/headerbg.jpeg)`,
      backgroundSize: "cover",
      backgroundRepeat: "no-repeat",
      backgroundPosition: "center",
    }}
    class="m-auto flex h-[90vh] w-[90vw] flex-col items-center justify-between rounded-lg bg-black p-[10%]"
  >
    <h1 class="font-header text-9xl text-white">Bitshala:</h1>
    <h2 class="text-5xl text-orange">A Pathshala for Bitcoin</h2>
    <p class="w-1/2 text-center text-4xl text-white">
      Empowering developers to thrive in Bitcoin FOSS World
    </p>
    <div class="mt-2 flex w-1/2 justify-between">
      <a class="rounded-lg bg-orange p-2 text-xl">Dive into the Rabbit Hole</a>
      <a class="rounded-lg p-2 text-xl text-white outline-dashed outline-white"
        >Check out the Study Cohorts</a
      >
    </div>
  </main>
</Layout>
