---
import Carousel from "../components/common/Carousel";
import Layout from "../layouts/Layout.astro";
import Testimonial from "../components/home/Testimonial.astro";
import LinkCohort from "../components/home/LinkCohort.astro";
import People from "../components/home/People.astro";
import About from "../components/home/About.astro";
import Newsletter from "../components/common/Newsletter";
import Calender from "../components/common/Calender.astro";
import JourneyGuide from "../components/home/JourneyGuide.astro";
import { FaDiscord } from "react-icons/fa";

const headerProps = {
  image: "/home/headerbg.webp",
  removePadding: true,
};
const isVisible = true;
---

<Layout
  title="Bitshala | A Pathshala for Bitcoin | India, Global South"
  headerProps={headerProps}
  isVisible={isVisible}
>
  <div
    slot="headerChild"
    class="mx-auto flex h-[55vh] max-w-screen-xl flex-col justify-between"
  >
    <h1
      class="text-center font-header text-6xl font-bold text-white lg:text-[13rem]"
    >
      Bitshala:
    </h1>
    <h2
      class="mt-5 text-center font-header text-4xl font-bold text-orange lg:text-[4.8rem]"
    >
      A Pathshala for Bitcoin
    </h2>
    <div slot="after-heading">
      <p
        class="mt-5 text-center text-xl text-white lg:mt-10 lg:text-3xl"
      >
        Empowering developers to enter and thrive in the
        world <br /> of Bitcoin FOSS (Free and Open Source
        Software)
      </p>
      <div
        class="mt-20 flex w-full justify-between font-bold"
      >
        <a
          href="https://discord.com/invite/STeQFVEWf9"
          target="_blank"
          class="text-m mx-3 flex w-1/2 items-center justify-center rounded-lg bg-white p-4 text-center hover:border-2 hover:bg-black hover:bg-opacity-50 hover:text-white lg:text-2xl"
          >Join Our Community
          <FaDiscord
            className="ml-2 text-2xl lg:pt-1 lg:text-3xl"
          />
        </a>
        <a
          href="/cohorts"
          class="text-m mx-3 flex w-1/2 items-center justify-center rounded-lg border-2 bg-black bg-opacity-50 p-4 text-center text-white hover:bg-white hover:text-black lg:text-2xl"
          >Explore study cohorts →</a
        >
      </div>
    </div>
  </div>
  <About />
  <Carousel client:visible />
  <Testimonial />
  <JourneyGuide />
  <LinkCohort class:load />
  <!-- <People /> -->
  <!-- <Newsletter client:load /> -->
  <!-- <Calender /> -->
</Layout>
