---
import Layout from "../layouts/Layout.astro";
import WhatAreMeetups from "../components/meetup/WhatAreMeetups.astro";
import WhatsItLike from "../components/meetup/WhatsItLike.astro";
import WhereIsHappening from "../components/meetup/WhereIsHappening.astro";
import StartYourCity from "../components/meetup/StartYourCity.astro";
---

<Layout
  title="Meetups"
  headerProps={{
    image: "/meetups/1de7fc19a679e2fd77bdf1262e58ccbe1931ab7f.png",
    overlayStyle: {
      background: "linear-gradient(0deg, rgba(96, 48, 0, 0.62) 0%, rgba(96, 48, 0, 0.62) 100%), #FA8816",
      mixBlendMode: "multiply",
    },
  }}
  isVisible={true}
>
  <div
    slot="headerChild"
    class="flex flex-col items-center justify-center gap-8 lg:h-[70vh] lg:gap-16"
  >
    <h1
      class="text-center font-header text-4xl font-bold text-white lg:text-8xl xl:text-[154px]"
      style="text-shadow: 4px 4px 18px rgba(0,0,0,0.16);"
    >
      Local Meetups
    </h1>
    <h2
      class="mx-auto max-w-[1164px] text-center text-lg text-white lg:text-[42px] lg:leading-[1.2]"
      style="text-shadow: 3px 3px 6px rgba(0,0,0,0.52);"
    >
      Connect with local bitcoiners around you
    </h2>
  </div>

  <div class="flex flex-col gap-20 py-16 lg:gap-[125px] lg:py-24">
    <WhatAreMeetups />
    <WhatsItLike />
    <WhereIsHappening />
    <StartYourCity />
  </div>
</Layout>
