---
import Layout from "../layouts/Layout.astro";
import About from "../components/optech/About.astro";
import Calender from "../components/common/Calender.astro";

const headerProps = {
  removeHeader: true,
};
const isVisible = true;
const img = "/optech/optech.webp";
---

<Layout
  title="Optech"
  headerProps={headerProps}
  isVisible={isVisible}
>
  <div
    style={{
      backgroundImage: `url(${img})`,
      backgroundSize: "contain",
      backgroundRepeat: "no-repeat",
      backgroundPosition: "center",
    }}
    class="m-auto mt-20 flex min-h-[30vh] flex-col items-center justify-between px-5 pb-12 pt-32 md:min-h-[60vh] md:rounded-lg lg:min-h-[90vh]"
  >
  </div>
  <About />
  <Calender />
</Layout>
