---
import Layout from "../layouts/Layout.astro";
import About from "../components/optech/About.astro";
import Calender from "../components/common/Calender.astro";

const headerProps = {
  removeHeader: true,
  removePadding: true,
};
const isVisible = true;
const img = "/optech/optechHero.webp";
---

<Layout
  title="Optech"
  headerProps={headerProps}
  isVisible={isVisible}
>
  <div class="mx-auto mt-24 w-full max-w-[1360px] px-4 md:px-8 lg:mt-32">
    <div
      style={{
        backgroundImage: `url(${img})`,
        backgroundSize: "cover",
        backgroundRepeat: "no-repeat",
        backgroundPosition: "center",
      }}
      class="w-full aspect-video rounded-xl shadow-lg md:rounded-[24px]"
    >
    </div>
  </div>
  <About />
  <div class="mx-auto w-full max-w-[1280px] px-4 pb-12 md:px-8 lg:pb-24">
    <Calender />
  </div>
</Layout>
