---
import Layout from "../layouts/Layout.astro";
import About from "../components/readingClub/About.astro";
import Calender from "../components/common/Calender.astro";
import PreviouslyCovered from "../components/readingClub/PreviouslyCovered";

const headerProps = {
  removeHeader: true,
};
const isVisible = true;
const img = "/carousel/2.webp";
---

<Layout
  title="Reading Club"
  headerProps={headerProps}
  isVisible={isVisible}
>
  <div class="mx-auto mt-24 w-full max-w-[1360px] px-4 md:px-8 lg:mt-32">
    <div
      style={{
        backgroundImage: `url(${img})`,
        backgroundSize: "cover",
        backgroundRepeat: "no-repeat",
        backgroundPosition: "center",
      }}
      class="w-full aspect-video rounded-xl shadow-lg md:rounded-[24px]"
    >
    </div>
  </div>
  <About />
  <PreviouslyCovered />
  <Calender />
</Layout>
