---
import Layout from "../layouts/Layout.astro";
import About from "../components/review/About.astro";
import HowToPerticipate from "../components/review/HowToPerticipate.astro";
import Calender from "../components/common/Calender.astro";
import MeetYourTAs from "../components/cohortPages/common/MeetYourTAs.astro";
import MeetYourHosts from "../components/review/MeetYourHosts.astro";

const headerProps = {
  removeHeader: true,
};
const isVisible = true;
const img = "/review/hero.webp";
---

<Layout
  title="Pr Review Club"
  headerProps={headerProps}
  isVisible={isVisible}
>
  <div
    style={{
      backgroundImage: `url(${img})`,
      backgroundSize: "contain",
      backgroundRepeat: "no-repeat",
      backgroundPosition: "center",
    }}
    class="justify-betweenpx-5 m-auto mt-20 flex min-h-[30vh] flex-col items-center rounded-2xl pb-12 pt-32 md:min-h-[60vh] lg:min-h-[90vh]"
  >
  </div>
  <About />
  <HowToPerticipate />
  <Calender />
  <MeetYourHosts />
</Layout>
