---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/common/Carousel";
import VideoCard from "../components/talks/VideoCard.astro";
import {
  getPlaylistDetails,
  mockedVideoConfig,
} from "../scripts/googleApi";
import LinkCohort from "../components/home/LinkCohort.astro";

const isProd = import.meta.env.PROD;
const videoConfig = isProd
  ? await getPlaylistDetails(
      "PLdHBT9oS8yMX3ozzhidF8-WODxcr8ZwAU",
      import.meta.env.GOOGLE_KEY,
    )
  : mockedVideoConfig.slice(-6);

const headerProps = {
  heading: "Bitcoin Talks",
  subheading:
    "Learning Bitcoin alone is hard. We’re here to make it easier through insightful conversations with experienced Bitcoin developers about their Bitcoin journey.",
  image: "/website-v2/header/Talks_Hero.png",
  headingColor: "text-white",
  subheadingColor: "text-white",
};
---

<Layout title="Bitcoin Talks" headerProps={headerProps}>
  <div
    class="my-3 grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-3"
  >
    {
      videoConfig.map((video) => (
        <VideoCard video={video} />
      ))
    }
  </div>
  <LinkCohort />
  <Carousel client:visible />
</Layout>
