---
import MeetYourTAs from "../cohortPages/MeetYourTAs.astro";

export interface Props {
  format: Array<any>;
}
const { format } = Astro.props;
---

<div class="mb-10 flex flex-col gap-2 lg:flex-row lg:gap-8">
  <div class="rounded-2xl bg-orange p-3 lg:w-3/5 lg:p-10">
    <p>The Deets</p>
    <h1
      class="mb-10 mt-3 font-header text-4xl font-bold lg:text-5xl"
    >
      Cohort Details
    </h1>
    <h3 class="font-header text-xl font-bold lg:text-2xl">
      Pre-requisites
    </h3>
    <div>
      <slot name="prerequisites" />
      <div
        class="my-10 grid grid-cols-2 gap-10 lg:grid-cols-4"
      >
        {
          format.map((item) => (
            <div>
              <h2 class="font-header text-xl font-bold lg:text-2xl">
                {item.name}
              </h2>
              <p class="lg:text-lg">{item.desc}</p>
            </div>
          ))
        }
      </div>
    </div>
    <h2
      class="mb-10 font-header text-xl font-bold lg:text-2xl"
    >
      Cohort Overview
    </h2>
    <slot name="details" />
  </div>
  <div class="flex grow lg:w-2/5">
    <MeetYourTAs
      team={[
        {
          name: "Raj Maitra",
          desc: "we will have rewrite it in 3rd person tho.. but write a description of yoyrself in whatever form you",
          image: "raj",
          twitter: "https://twitter.com/RajarshiMaitra",
          github: "https://github.com/rajarshimaitra",
        },

        {
          name: "Stratospher",
          desc: "we will have rewrite it in 3rd person tho.. but write a description of yoyrself in whatever form you",
          image: "stratospher",
        },
        {
          name: "Anmol Sharma",
          desc: "we will have rewrite it in 3rd person tho.. but write a description of yoyrself in whatever form you",
          image: "anmol",
        },

        {
          name: "Emil Joshi",
          desc: "we will have rewrite it in 3rd person tho.. but write a description of yoyrself in whatever form you",
          image: "paperpsyche",
        },
      ]}
      color="bg-orange"
    />
  </div>
</div>
