---
import MeetYourTAs from "../cohortPages/MeetYourTAs.astro";

export interface Props {
  format: Array<any>;
}
const { format } = Astro.props;
---

<div class="mb-10 flex flex-col gap-2 lg:flex-row lg:gap-8">
  <div class="rounded-2xl bg-orange p-3 lg:w-3/5 lg:p-10">
    <p>The Deets</p>
    <h1
      class="mb-10 mt-3 font-header text-4xl font-bold lg:text-5xl"
    >
      Cohort Details
    </h1>
    <h3 class="font-header text-xl font-bold lg:text-2xl">
      Pre-requisites
    </h3>
    <div>
      <slot name="prerequisites" />
      <div
        class="my-10 grid grid-cols-2 gap-10 lg:grid-cols-4"
      >
        {
          format.map((item) => (
            <div>
              <h2 class="font-header text-xl font-bold lg:text-2xl">
                {item.name}
              </h2>
              <p class="lg:text-lg">{item.desc}</p>
            </div>
          ))
        }
      </div>
    </div>
    <h2
      class="mb-10 font-header text-xl font-bold lg:text-2xl"
    >
      Cohort Overview
    </h2>
    <slot name="details" />
  </div>
  <div class="flex grow lg:w-2/5">
    <MeetYourTAs
      team={[
        {
          name: "Raj Maitra",
          desc: "Pen-and-paper engineer turned keyboard warrior in multiple rabbit holes. Often known for making a mess. An actual rabbit.",
          image: "raj",
          bgColor: "bg-black",
          textColor: "text-white",
          headingColor: "text-orange",
          twitter: "https://twitter.com/RajarshiMaitra",
          github: "https://github.com/rajarshimaitra",
        },

        {
          name: "Stratospher",
          desc: "Witchcrafting the gossip between Bitcoin nodes. But Pieter Wuille doesn't know its her cat who writes all the code.",
          image: "stratospher",
          bgColor: "bg-peach",
          textColor: "text-black",
          headingColor: "text-black",
          twitter: "https://twitter.com/spherostrat",
          github: "https://github.com/stratospher",
        },
        {
          name: "Anmol Sharma",
          desc: "When he is not talking about Bitcoin,he is busy writing code. But let's be honest, he is usually busy talking about Bitcoin.",
          image: "anmol",
          bgColor: "bg-black",
          textColor: "text-white",
          headingColor: "text-orange",
          twitter: "https://twitter.com/theanmolsharma_",
          github: "https://github.com/theanmolsharma",
        },
        {
          name: "Emil Joshy",
          desc: "Joined Bitshala to run Bitcoin Core on his Dive Computer. Didn’t work, but he’ll keep trying.",
          image: "emil",
          bgColor: "bg-peach",
          textColor: "text-black",
          headingColor: "text-black",
          twitter: "https://twitter.com/emjshrx",
          github: "https://github.com/emjshrx",
        },
      ]}
      color="bg-orange"
    />
  </div>
</div>
