<div class="lg:p-8">
  <h3 class="mb-8 text-2xl text-orange">Structure</h3>

  <div class="font-medium lg:text-2xl">
    <div class="">
      The structure of the cohort program is <span
        class="font-bold">designed for self-study.</span
      > Each week, participants will be assigned to a group
      to receive questions related to the scheduled
      chapters. Participants are expected to study the
      material, prepare answers to their questions, and
      actively participate in the weekly group discussion
      sessions, where they will explain their answers to
      other participants.
    </div>
    <div class="my-5">
      Following the group discussion, <span
        class="font-bold"
        >Bitshala Teaching Assistants (TAs) will be
        available for doubt-clearing sessions,</span
      > providing an opportunity to ask additional questions
      and clarify any doubts that arose during the study
      session.
    </div>
    <div class="">
      After the group session, participants will be given
      programming exercises based on the weekly study
      content. Participants are expected to <span
        class="font-bold"
        >complete and submit the exercises</span
      > within the designated timeframe.
    </div>
  </div>
</div>
