<div class="rounded-2xl bg-peach p-10 lg:px-16">
  <h1
    class="mb-5 font-header text-2xl font-bold lg:text-4xl"
  >
    Study Cohort Structure
  </h1>
  <p class="mb-3 py-2 lg:text-xl">
    The structure of the cohort program is designed for
    <span class="font-bold">self-study</span>
     . Each week, participants will be assigned to a group
    to receive questions related to the scheduled chapters.
    Participants are expected to study the material, prepare
    answers to their questions, and actively participate in
    the weekly group discussion sessions, where they will
    explain their answers to other participants.
  </p>
  <p class="mb-3 py-2 lg:text-xl">
    Following the group discussion, Bitshala <span
      class="font-bold"
    >
      Teaching Assistants (TAs) will be available for
      doubt-clearing sessions,</span
    > providing an opportunity to ask additional questions
    and clarify any doubts that arose during the study
    session.
  </p>
  <p class="mb-3 py-2 lg:text-xl">
    After the group session, participants will be given
    programming exercises based on the weekly study content.
    Participants are expected to <span class="font-bold"
      >complete and submit the exercises</span
    > within the designated timeframe.
  </p>
</div>
