---
import MeetYourTAs from "../cohortPages/MeetYourTAs.astro";
import { ta } from "../common/list.js";

export interface Props {
  format: Array<any>;
}
const { format } = Astro.props;
---

<div class="mb-10 flex flex-col gap-2 lg:flex-row lg:gap-8">
  <div class="rounded-2xl bg-peach p-3 lg:w-3/5 lg:p-10">
    <p>The Deets</p>
    <h1
      class="mb-10 mt-3 font-header text-4xl font-bold lg:text-5xl"
    >
      Cohort Details
    </h1>
    <slot name="date" />
    <h3 class="font-header text-xl font-bold lg:text-2xl">
      Pre-requisites
    </h3>
    <div>
      <slot name="prerequisites" />
      <div
        class="my-10 grid grid-cols-2 gap-10 lg:grid-cols-4"
      >
        {
          format.map((item) => (
            <div>
              <h2 class="font-header text-xl font-bold  lg:text-2xl">
                {item.name}
              </h2>
              <p class="lg:text-base">{item.desc}</p>
            </div>
          ))
        }
      </div>
    </div>
    <h2
      class="mb-10 font-header text-xl font-bold lg:text-2xl"
    >
      Cohort Overview
    </h2>
    <slot name="details" />
  </div>
  <div class="flex grow lg:w-2/5">
    <MeetYourTAs team={ta} color="bg-peach" />
  </div>
</div>
