---
export interface Props {
  takeaways: Array<any>;
}
const { takeaways } = Astro.props;
---

<div class="my-10 p-5 lg:mx-44">
  <slot name="text" />
  <h3 class="my-8 font-header text-2xl font-bold">
    Takeaways
  </h3>
  <ul class="list-disc">
    <ul slot="takeaways" class="list-disc">
      {
        takeaways.map((takeaway) => (
          <li class="my-4 lg:text-xl">
            <span class="font-header font-bold">
              {takeaway.name}
            </span>{" "}
            : {takeaway.desc}
          </li>
        ))
      }
    </ul>
  </ul>
</div>
