<div class="my-10 p-5 lg:mx-44">
  <p>Overview</p>
  <slot name="text" />
  <h3 class="my-8 font-header text-2xl font-semibold">
    Takeaways
  </h3>
  <ul class="list-disc">
    <slot name="takeaways" />
  </ul>
</div>
