---
const list = [
  {
    link: "/home/hrf.webp",
  },
  {
    link: "/home/bob.webp",
  },
  {
    link: "/home/btrust.webp",
  },
  {
    link: "/home/chaincode.webp",
  },
  {
    link: "/home/pts.webp",
  },
  {
    link: "/home/sob.webp",
  },
];
---

<div class="text-center lg:p-8">
  <h1
    class="my-8 font-header text-2xl font-bold md:text-3xl lg:text-6xl"
    id="about_us"
  >
    “So, what is it that you folks do at Bitshala?”
  </h1>

  <p class="m-4 text-base md:text-lg lg:text-2xl">
    Bitshala is a <span class="font-bold text-orange"
      >grassroots education initiative</span
    > led by Indian Bitcoiners, focused on strengthening the
    Bitcoin ecosystem by <span class="font-bold text-orange"
      >nurturing and supporting Bitcoin FOSS (Free and Open
      Source Software) Devs</span
    >. Our mission is to equip people with the skills and
    knowledge needed to contribute to Bitcoin FOSS projects.
    We want you to be part of the revolution.
  </p>

  <div class="my-10 lg:my-32">
    <h1
      class="my-8 font-header text-xl font-bold md:text-2xl lg:text-4xl"
    >
      Trusted and Supported by
    </h1>
    <div
      class="grid grid-cols-7 items-center gap-6 lg:w-[120%] lg:gap-10"
    >
      {
        list.map((li) => (
          <a href={li.link}>
            <img
              src={li.link}
              class="h-16 object-contain"
              alt="Bitshala Logo"
            />
          </a>
        ))
      }
    </div>
  </div>
</div>
