<div
  class="mb-8 mt-10 flex flex-col rounded-lg bg-black py-20"
>
  <div>
    <p
      class="p-2 text-center font-header text-3xl font-semibold text-white lg:mx-24 lg:p-20 lg:text-8xl"
    >
      Kickstart <span class="text-orange">
        Bitcoin Career</span
      > now!
    </p>
  </div>
  <div class="mt-5 flex">
    <div class="w-1/3"></div>
    <a
      class="rounded-xl bg-white p-2 text-center text-sm font-semibold hover:bg-orange hover:text-white md:text-xl lg:my-1 lg:mr-5 lg:p-0 lg:px-10 lg:py-5 xl:text-3xl"
      href="/cohorts/bpd"
    >
      Next cohort begins 26th April
    </a>
    <div class="w-1/3"></div>
  </div>
</div>
