---
import { testimonial } from "../common/list.js";
import TestimonialMobile from "./TestimonialMobile";

const imageList = [
  ["/testimonial/1.webp", "/testimonial/2.webp"],
  [
    "/testimonial/3.webp",
    "/testimonial/4.webp",
    "/testimonial/5.webp",
  ],
  ["/testimonial/6.webp", "/testimonial/7.webp"],
];
---

<div>
  <div
    class="mx-auto mt-20 grid max-w-screen-xl grid-cols-1 gap-x-3 gap-y-4 lg:mt-40"
  >
    <h1
      class="my-4 block text-center font-header text-3xl font-bold md:text-3xl lg:my-8 lg:hidden lg:text-6xl"
    >
      Hear from others who’ve <br /> been in the same place <br
      /> you are right now
    </h1>
    <h1
      class="my-4 hidden text-center font-header text-3xl font-bold md:text-3xl lg:my-8 lg:block lg:text-6xl"
    >
      Hear from others who’ve been in the <br />
       same place you are right now
    </h1>

    <div
      class="mt-9 hidden grid-cols-2 gap-4 p-5 lg:grid lg:grid-cols-3 lg:p-0"
    >
      {
        imageList.map((column, colIndex) => (
          <div class="grid gap-4">
            {column.map((image, imgIndex) => (
              <div>
                <img
                  class="h-full rounded-lg "
                  src={image}
                  alt=""
                />
              </div>
            ))}
          </div>
        ))
      }
    </div>

    <div class="lg:hidden">
      <TestimonialMobile client:load />
    </div>
  </div>
</div>
<p
  class="mb-16 mt-24 block px-2 text-center text-base lg:mb-64 lg:hidden lg:text-2xl"
>
  P.S. "If I could do it, you can too" <br /> is what
  they’re all trying to say :)
</p>

<p
  class="mb-32 mt-24 hidden px-2 text-center text-base lg:mb-64 lg:block lg:text-2xl"
>
  P.S. "If I could do it, you can too" is what they’re all
  trying to say :)
</p>
