<div class="mb-10 mt-10">
  <div class="inline lg:hidden">
    <div class="flex">
      <div class="mr-2">
        <img
          src="/website-v2/testimonial/bitcoin.png"
          class="max-h-96"
        />
      </div>
      <div class="flex flex-col">
        <div class="mb-4">
          <img
            src="/website-v2/testimonial/person1.png"
            class="max-h-44"
          />
        </div>
        <div>
          <img
            src="/website-v2/testimonial/goku.png"
            class="max-h-44"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex">
  <div class="hidden lg:flex">
    <div class="mr-8">
      <img
        src="/website-v2/testimonial/bitcoin.png"
        class="min-h-96"
      />
    </div>
    <div class="flex flex-col">
      <div>
        <img
          src="/website-v2/testimonial/person1.png"
          class="min-h-96 mb-8"
        />
      </div>
      <div>
        <img
          src="/website-v2/testimonial/goku.png"
          class="min-h-96"
        />
      </div>
    </div>
  </div>
  <div class="ml-1 flex flex-col lg:ml-8">
    <div class="mt-8">
      <h1
        class="mb-4 text-2xl font-semibold md:text-3xl lg:text-5xl"
      >
        Game-changer for Bitcoin Education!
      </h1>
      <p class="text-base md:text-lg lg:text-2xl">
        “The sessions were amazing. This platform is perfect
        for anyone looking to understand Bitcoin deeply and
        to play around with its technicals which can get a
        little too overwhelming when you try to do it all on
        your own.”
      </p>
      <p
        class="mt-1 text-base font-semibold md:text-lg lg:text-2xl"
      >
        - Shreyan Joshi, Developer
      </p>
    </div>
    <div>
      <h1
        class="md:t3xl mb-4 mt-4 text-2xl font-semibold lg:text-5xl"
      >
        Transformative Learning Community
      </h1>
      <p class="text-base md:text-lg lg:text-2xl">
        “The sessions were amazing. This platform is perfect
        for anyone looking to understand Bitcoin deeply and
        to play around with its technicals which can get a
        little too overwhelming when you try to do it all on
        your own.”
      </p>
      <p class="mt-1 text-base font-semibold lg:text-2xl">
        - Shreyan Joshi, Developer
      </p>
    </div>
  </div>
</div>

<div
  class="mb-10 mt-8 flex flex-col justify-center text-center lg:mt-28"
>
  <p class="mb-8 p-5 text-2xl">
    You’re probably curious about what we have in store for
    you
  </p>
  <div
    style={{
      backgroundImage: `url(/website-v2/testimonial/background.png)`,
      backgroundSize: "cover",
      backgroundRepeat: "no-repeat",
      backgroundPosition: "center",
    }}
    class="m-auto flex min-h-[90vh] flex-col items-center justify-center rounded-lg bg-black p-[10%]"
  >
    <h1
      class="mb-10 text-xl text-white md:text-3xl lg:text-5xl"
    >
      Well, here’s how we’ll help you
    </h1>

    <h1
      class="text-3xl font-bold text-white md:text-7xl lg:text-9xl"
    >
      Demystify the Technicalities of Bitcoin
    </h1>
  </div>
  <p
    class="mt-8 text-lg md:text-3xl lg:mt-20 lg:p-20 lg:text-5xl"
  >
    With a combination of educational resources, hands-on
    experience, and a vibrantly supportive community.
  </p>
</div>
