---
import { Image } from "astro:assets";
import bitcoin from "../../assets/testimonial/bitcoin.png";
import person1 from "../../assets/testimonial/person1.png";
import person2 from "../../assets/testimonial/goku.png";
---

<div class="mb-10 mt-10"></div>
<div class="flex flex-col items-center lg:flex-row">
  <div class="flex h-min md:p-24 lg:p-0">
    <div class="mr-8">
      <Image src={bitcoin} alt="Bitcoin" />
    </div>
    <div class="flex grow flex-col justify-between">
      <Image
        src={person1}
        class="mb-8"
        alt="Image of Person 1"
      />
      <Image
        src={person2}
        class="min-h-96"
        alt="Image of Person 2"
      />
    </div>
  </div>
  <div class="ml-1 flex flex-col lg:ml-8">
    <div class="mt-8">
      <h1
        class="mb-4 text-2xl font-semibold md:text-3xl lg:text-5xl"
      >
        Game-changer for Bitcoin Education!
      </h1>
      <p class="text-base md:text-lg lg:text-2xl">
        “The sessions were amazing. This platform is perfect
        for anyone looking to understand Bitcoin deeply and
        to play around with its technicals which can get a
        little too overwhelming when you try to do it all on
        your own.”
      </p>
      <p
        class="mt-1 text-base font-semibold md:text-lg lg:text-2xl"
      >
        - Shreyan Joshi, Developer
      </p>
    </div>
    <div>
      <h1
        class="md:t3xl mb-4 mt-4 text-2xl font-semibold lg:text-5xl"
      >
        Transformative Learning Community
      </h1>
      <p class="text-base md:text-lg lg:text-2xl">
        “The sessions were amazing. This platform is perfect
        for anyone looking to understand Bitcoin deeply and
        to play around with its technicals which can get a
        little too overwhelming when you try to do it all on
        your own.”
      </p>
      <p class="mt-1 text-base font-semibold lg:text-2xl">
        - Shreyan Joshi, Developer
      </p>
    </div>
  </div>
</div>

<div
  class="mb-10 mt-8 flex flex-col justify-center text-center lg:mt-28"
>
  <p class="mb-8 p-5 font-header text-5xl">
    Wondering, what's in store for you?
  </p>
  <div
    style={{
      backgroundImage: `url(/website-v2/testimonial/background.webp)`,
      backgroundSize: "cover",
      backgroundRepeat: "no-repeat",
      backgroundPosition: "center",
    }}
    class="m-auto flex min-h-[90vh] flex-col items-center justify-center rounded-lg bg-black p-2 md:p-10"
  >
    <h1
      class="mb-10 text-xl text-white md:text-3xl lg:text-5xl"
    >
      Bitcoin Dev journey is hard. We prepare you for the
      voyage.
    </h1>

    <h1
      class="text-3xl font-bold text-white md:text-7xl lg:text-9xl"
    >
      Community. Clubs. Cohorts. Guidance.
    </h1>
  </div>
  <p
    class="mt-8 text-lg md:text-3xl lg:mt-20 lg:p-20 lg:text-5xl"
  >
    Scroll to disover our Community, Study Cohorts, Reading
    & Review Clubs, Bitdevs, FOSS Mentorships, Gigs & More.
  </p>
</div>
