---
const list = [
  {
    text: "The questions and practical exercises. I think they are very well designed to make you deeply reflect on the studied topic. It help me a lot to consolidate knowledge. The kindle and super fast support from bitshala team and the rest of bitshala comunity. Sharing knowledge, experience and a lot of good stuff. I was awesome to me you all. I loved the day when instead of following the planned agenda and discussing the weekly questions, there was a debate on philosophical and profound topics about money and bitcoin. It was great!",
    name: "Lazysatoshi",
    cohort: "on Study Cohorts",
    img: "/testimonial/lazy.webp",
  },
  {
    text: "Anyone spending four hours of their evenings, in a week, can gain valuable knowledge and experience about technical, economic and philosophical landscape of Bitcoin. The community makes learning fun and effective for me.",
    name: "Faisal Qureshi",
    cohort: "on Mastering Bitcoin Cohort",
    img: "/testimonial/faisal.webp",
  },
  {
    text: "I feel elated to be a part of the first cohort of graduates from Bitshala, and I hope that it turns into a beacon of Bitcoin literacy in India. It's a tailor-made platform and an avenue of great resources for those who are keen on traversing on a path to learning and imparting Bitcoin education.",
    name: "Bala",
    cohort: "on Club Activities",
    img: "/testimonial/bala.webp",
  },
  {
    text: "I came across Bitshala while working on an SOB assignment and decided to join their Bitcoin Protocol Development cohort. Honestly,",
    name: "Rishabh",
    cohort: "on Study Cohorts",
    img: "/testimonial/rishabh.webp",
  },
  {
    text: "Participating in the Programming Bitcoin cohort was one of the most transformative experience for me. The sessions provided invaluable clarity on key concepts such as public key cryptography, giving me a crystal-clear understanding. It was a pivotal moment in my Bitcoin journey that boosted my confidence in mastering Bitcoin's technical aspects.",
    name: "Tanveer",
    cohort: "on BPD & Bitshala Community",
    img: "/testimonial/tanveer.webp",
  },
  {
    text: "Anyone spending four hours of their evenings, in a week, can gain valuable knowledge and experience about technical, economic and philosophical landscape of Bitcoin. The community makes learning fun and effective for me.",
    name: "Claddy",
    cohort: "on PB Cohort",
    img: "/testimonial/claddy.webp",
  },
  {
    text: "If you’re a bitcoin user, you'd like to have a front row 'chair' over all things bitcoin. Bitshala fixes this!",
    name: "Person Name",
    cohort: "Cohort name or job title",
  },
  {
    text: "MangoElephant",
    name: "Rishabh",
    cohort: "on Mastering Bitcoin Cohort",
  },
];
---

<div
  class="mx-auto my-24 grid max-w-screen-xl grid-cols-1 gap-x-3 gap-y-4"
>
  {
    list.map((item) => (
      <div class="row-span-ful rounded-2xl border-2 border-orange p-5">
        <p>{item.text}</p>
        <section class="flex gap-4 overflow-hidden text-xl font-medium">
          <img
            loading="lazy"
            src={item.img}
            alt="img"
            class="my-auto aspect-square w-[60px] shrink-0 self-stretch rounded-full object-contain"
            alt="Lazysatoshi's profile picture"
          />
          <div class="my-auto flex flex-col justify-center self-stretch">
            <h2 class="text-orange-500 text-orange">
              {item.name}
            </h2>
            <p class="text-zinc-800 mt-3">{item.cohort}</p>
          </div>
        </section>
      </div>
    ))
  }
  <!-- <div
    class="row-span-full rounded-2xl border-2 border-orange p-5"
  >
    <p>
      The questions and practical exercises. I think they
      are very well designed to make you deeply reflect on
      the studied topic. It help me a lot to consolidate
      knowledge. The kindle and super fast support from
      bitshala team and the rest of bitshala comunity.
      Sharing knowledge, experience and a lot of good stuff.
      I was awesome to me you all. I loved the day when
      instead of following the planned agenda and discussing
      the weekly questions, there was a debate on
      philosophical and profound topics about money and
      bitcoin. It was great! The questions and practical
      exercises. I think they are very well designed to make
      you deeply reflect on the studied topic. It help me a
      lot to consolidate knowledge. The kindle and super
      fast support from bitshala team and the rest of
      bitshala comunity. Sharing knowledge, experience and a
      lot of good stuff. I was awesome to me you all. I
      loved the day when instead of following the planned
      agenda and discussing the weekly questions, there was
      a debate on philosophical and profound topics about
      money and bitcoin. It was great!
    </p>
    <section
      class="flex gap-4 overflow-hidden text-xl font-medium"
    >
      <img
        loading="lazy"
        src=""
        alt="img"
        class="my-auto aspect-square w-[60px] shrink-0 self-stretch rounded-full object-contain"
        alt="Lazysatoshi's profile picture"
      />
      <div
        class="my-auto flex flex-col justify-center self-stretch"
      >
        <h2 class="text-orange-500">Lazysatoshi</h2>
        <p class="text-zinc-800 mt-3">on Study Cohorts</p>
      </div>
    </section>
  </div> -->
</div>
