---
const takeaways = [
  {
    name: "Mastery of Bitcoin Core",
    desc: "Participants will gain in-depth knowledge of Bitcoin Core, a fundamental skill for anyone interested in Bitcoin development.",
  },
  {
    name: "Local Node Management",
    desc: "Acquire the skills to set up and manage a local bitcoind regtest node, allowing for a controlled and customizable environment for testing and experimentation.",
  },
  {
    name: "Scripting Expertise",
    desc: " Explore advanced scripting techniques, enabling you to create custom Bitcoin scripts and smart contracts.",
  },
  {
    name: "Certificate of Achievement",
    desc: " Successful participants receive a certificate recognizing their proof-of-work and accomplishment.",
  },
  {
    name: "Foundation for Advanced Study",
    desc: "After completing the cohort, participants are well-prepared to delve into more advanced topics, such as programmatically interfacing with bitcoin-cli and exploring the lightning network.",
  },
  {
    name: "Community",
    desc: "Join a community of like-minded learners, actively participating in discussions and collaborative learning, fostering a supportive network.",
  },
];
---

<div class="my-10 p-5 lg:mx-44">
  <p>Overview</p>
  <h1 class="my-2 font-header text-2xl lg:text-5xl">
    Learning Bitcoin via Command Line Interface
  </h1>
  <span class="text-orange"></span>
  <p class="lg:text-xl">
    Learning Bitcoin from the Command Line is a
    comprehensive tutorial series that teaches you how to
    use Bitcoin Core through the command line. The series
    covers all the essential Bitcoin operations that can be
    performed using the <span class="text-orange"
      >bitcoin-cli</span
    > and a local <span class="text-orange">bitcoind</span>
     regtest node. Starting from basic transaction
    construction to advanced scripting, this tutorial is a
    must-read for aspiring Bitcoin developers. Upon
    successful completion of the cohort program,
    participants will receive a certificate recognizing
    their proof-of-work.
  </p>

  <h3 class="my-8 font-header text-2xl font-semibold">
    Takeaways
  </h3>
  <ul class="list-disc">
    {
      takeaways.map((takeaway) => (
        <li class="my-4 lg:text-xl">
          <span class="font-bold">{takeaway.name}</span> :{" "}
          {takeaway.desc}
        </li>
      ))
    }
  </ul>
</div>
