<footer class="mt-5">
  <hr class="opacity-20" />
  <div
    class="flex items-center justify-between bg-[#ffdec7] px-3 py-10"
  >
    <div class="text-md ml-5 w-3/6 md:text-xl xl:text-3xl">
      We got a sweet little <span class="font-bold"
        >discord community</span
      > of hungry and passionate Bitcoin developers....
    </div>
    <a href="https://discord.gg/Sg8vT3aX" target="_blank">
      <div
        class="rounded-lg border-2 border-dotted p-2 text-sm hover:bg-orange md:text-xl lg:mr-5 lg:px-10 lg:py-5 xl:text-3xl"
      >
        Ahh.. I think I'll fit right in
      </div>
    </a>
  </div>

  <hr class="opacity-20" />
  <div
    class="grid grid-cols-3 divide-x bg-[url('../../public/footer/bitshala.png')] bg-cover lg:grid-cols-5"
  >
    <div class="m-3 hidden p-3 lg:inline">
      <img
        src="../../public/footer/logo.png"
        class="mb-60 h-16"
      />
      <div>Copyright © 2023 Bitshala</div>
    </div>
    <div class="m-3 p-3">
      <a
        href="https://twitter.com/bitshala_org"
        target="_blank"
      >
        <div
          class="my-1 text-sm hover:font-bold lg:text-xl"
        >
          Twitter
        </div>
      </a>
      <a
        href="https://www.youtube.com/@bitshala/videos"
        target="_blank"
      >
        <div
          class="my-1 text-sm hover:font-bold lg:text-xl"
        >
          YouTube
        </div>
      </a>
      <a
        href="https://www.linkedin.com/company/bitshala"
        target="_blank"
      >
        <div
          class="my-1 text-sm hover:font-bold lg:text-xl"
        >
          LinkedIn
        </div>
      </a>
      <a>
        <div
          class="my-1 text-sm hover:font-bold lg:text-xl"
        >
          Instagram
        </div>
      </a>
    </div>
    <div class="m-3 p-3">
      <div class="my-1 text-sm hover:font-bold lg:text-xl">
        Team
      </div>
      <div class="my-1 text-sm hover:font-bold lg:text-xl">
        Resources
      </div>
      <div class="my-1 text-sm hover:font-bold lg:text-xl">
        Contact
      </div>
      <div class="my-1 text-sm hover:font-bold lg:text-xl">
        Career
      </div>
    </div>
    <div class="m-3 p-3">
      <div class="my-1 text-sm hover:font-bold lg:text-xl">
        Register for Cohort
      </div>
      <div class="my-1 text-sm hover:font-bold lg:text-xl">
        Bitcoin Study Cohort
      </div>
      <div class="my-1 text-sm hover:font-bold lg:text-xl">
        Bitcoin Review Club
      </div>
      <div class="my-1 text-sm hover:font-bold lg:text-xl">
        Bitcoin Talks
      </div>
      <div class="my-1 text-sm hover:font-bold lg:text-xl">
        Bitcoin Deediv Dive
      </div>
    </div>
    <div class="m-3 hidden p-3 lg:inline">
      <div class="mt-80 flex justify-end">
        Back to top ⬆️
      </div>
    </div>
  </div>
</footer>
