<!-- Our People Full Screen -->
<div>
  <p class="mt-20 text-center text-2xl">
    Our Team and Advisors
  </p>
  <div class="relative hidden xl:inline">
    <p
      class="absolute left-44 top-96 text-3xl font-semibold"
    >
      Our
    </p>
    <p class="text-center font-bold lg:text-[32rem]">
      people
    </p>
  </div>
  <!-- Our People Mobile -->

  <div
    class="my-8 text-center text-3xl font-bold xl:hidden"
  >
    Our People
  </div>

  <div
    class="mt-2 grid grid-cols-1 gap-2 lg:grid-cols-2 lg:gap-x-12 lg:gap-y-6"
  >
    <!-- Raj -->

    <div
      class="flex w-full items-center rounded-xl bg-black text-white"
    >
      <img
        src="website-v2/people/raj.png"
        class="h-28 items-center p-3 lg:h-40"
      />
      <div class="flex w-full flex-col">
        <div class="flex w-full justify-between px-5 py-3">
          <p
            class="font-header text-xl font-extrabold text-orange lg:text-5xl"
          >
            Raj Maitra
          </p>
          <div class="flex">
            <a>
              <img
                src="website-v2/people/github.png"
                class="m-1 h-8 rounded-xl bg-white lg:h-10"
              />
            </a>
            <a>
              <img
                src="website-v2/people/twitter.png"
                class="m-1 h-8 rounded-xl bg-white lg:h-10"
              />
            </a>
          </div>
        </div>
        <p class="lg:p3 px-1 py-1 text-sm lg:text-xl">
          From pen-and-paper engineer to keyboard maverick
          in many rabbit holes. Often a chaos creator, and
          yes he’s an actual rabbit.
        </p>
      </div>
    </div>

    <!-- Setu -->

    <div
      class="flex w-full items-center rounded-xl bg-orange text-white"
    >
      <img
        src="website-v2/people/setu.png"
        class="h-28 items-center p-3 lg:h-40"
      />
      <div class="flex w-full flex-col">
        <div class="flex w-full justify-between px-5 py-3">
          <p
            class="font-header text-xl font-extrabold text-black lg:text-5xl"
          >
            Setu Saurabh
          </p>
          <div class="flex">
            <div>
              <img
                src="website-v2/people/github.png"
                class="m-2 h-8 rounded-xl bg-white lg:h-10"
              />
            </div>
            <div>
              <img
                src="website-v2/people/twitter.png"
                class="m-2 h-8 rounded-xl bg-white lg:h-10"
              />
            </div>
          </div>
        </div>
        <p class="lg:p3 px-1 py-1 text-sm lg:text-xl">
          PM juggling FOSS Bitcoin projects and commercial
          ventures like a graceful circus performer. It's
          his Bitcoin extravaganza!
        </p>
      </div>
    </div>

    <!-- Stratospher -->
    <div
      class="flex w-full items-center rounded-xl bg-orange text-white"
    >
      <img
        src="website-v2/people/stratospher.png"
        class="h-28 items-center p-3 lg:h-40"
      />
      <div class="flex w-full flex-col">
        <div class="flex w-full justify-between px-5 py-3">
          <p
            class="font-header text-xl font-extrabold text-black lg:text-5xl"
          >
            Stratospher
          </p>
          <div class="flex">
            <div>
              <img
                src="website-v2/people/github.png"
                class="m-2 h-8 rounded-xl bg-white lg:h-10"
              />
            </div>
            <div>
              <img
                src="website-v2/people/twitter.png"
                class="m-2 h-8 rounded-xl bg-white lg:h-10"
              />
            </div>
          </div>
        </div>
        <p class="lg:p3 px-1 py-1 text-sm lg:text-xl">
          PM juggling FOSS Bitcoin projects and commercial
          ventures like a graceful circus performer. It's
          his Bitcoin extravaganza!
        </p>
      </div>
    </div>

    <!-- Anmol -->
    <div
      class="flex w-full items-center rounded-xl bg-black text-white"
    >
      <img
        src="website-v2/people/anmol.png"
        class="h-28 items-center p-3 lg:h-40"
      />
      <div class="flex w-full flex-col">
        <div class="flex w-full justify-between px-5 py-3">
          <p
            class="font-header text-xl font-extrabold text-orange lg:text-5xl"
          >
            Anmol Sharma
          </p>
          <div class="flex">
            <a>
              <img
                src="website-v2/people/github.png"
                class="m-1 h-8 rounded-xl bg-white lg:h-10"
              />
            </a>
            <a>
              <img
                src="website-v2/people/twitter.png"
                class="m-1 h-8 rounded-xl bg-white lg:h-10"
              />
            </a>
          </div>
        </div>
        <p class="lg:p3 px-1 py-1 text-sm lg:text-xl">
          When he is not talking about Bitcoin, he is busy
          writing code. But let's be honest, he is usually
          busy talking about Bitcoin.
        </p>
      </div>
    </div>

    <!-- Keraliss -->
    <div
      class="flex w-full items-center rounded-xl bg-black text-white"
    >
      <img
        src="website-v2/people/keraliss.png"
        class="h-28 items-center p-3 lg:h-40"
      />
      <div class="flex w-full flex-col">
        <div class="flex w-full justify-between px-5 py-3">
          <p
            class="font-header text-xl font-extrabold text-orange lg:text-5xl"
          >
            Keraliss
          </p>
          <div class="flex">
            <a>
              <img
                src="website-v2/people/github.png"
                class="m-1 h-8 rounded-xl bg-white lg:h-10"
              />
            </a>
            <a>
              <img
                src="website-v2/people/twitter.png"
                class="m-1 h-8 rounded-xl bg-white lg:h-10"
              />
            </a>
          </div>
        </div>
        <p class="lg:p3 px-1 py-1 text-sm lg:text-xl">
          Cozied up by a river in his humble hut with just
          his laptop, he codes. He says he has all he needs.
        </p>
      </div>
    </div>

    <!-- Paperpsyche -->
    <div
      class="flex w-full items-center rounded-xl bg-orange text-white"
    >
      <img
        src="website-v2/people/paperpsyche.png"
        class="h-28 items-center p-3 lg:h-40"
      />
      <div class="flex w-full flex-col">
        <div class="flex w-full justify-between px-5 py-3">
          <p
            class="font-header text-xl font-extrabold text-black lg:text-5xl"
          >
            Ayush Rajpal
          </p>
          <div class="flex">
            <div>
              <img
                src="website-v2/people/github.png"
                class="m-2 h-8 rounded-xl bg-white lg:h-10"
              />
            </div>
            <div>
              <img
                src="website-v2/people/twitter.png"
                class="m-2 h-8 rounded-xl bg-white lg:h-10"
              />
            </div>
          </div>
        </div>
        <p class="lg:p3 px-1 py-1 text-sm lg:text-xl">
          PM juggling FOSS Bitcoin projects and commercial
          ventures like a graceful circus performer. It's
          his Bitcoin extravaganza!
        </p>
      </div>
    </div>
  </div>

  <div class="my-5 text-center text-3xl">Our Advisors</div>
  <div
    class="mt-2 grid grid-cols-1 gap-2 lg:grid-cols-2 lg:gap-x-12 lg:gap-y-6"
  >
    <!-- Adam Jonas -->
    <div
      class="flex w-full items-center rounded-xl bg-orange text-white"
    >
      <img
        src="website-v2/people/adam.png"
        class="h-28 items-center p-3 lg:h-40"
      />
      <div class="flex w-full flex-col">
        <div class="flex w-full justify-between px-5 py-3">
          <p
            class="font-header text-xl font-extrabold text-black lg:text-5xl"
          >
            Adam Jonas
          </p>
          <div class="flex">
            <div>
              <img
                src="website-v2/people/github.png"
                class="m-2 h-8 rounded-xl bg-white lg:h-10"
              />
            </div>
            <div>
              <img
                src="website-v2/people/twitter.png"
                class="m-2 h-8 rounded-xl bg-white lg:h-10"
              />
            </div>
          </div>
        </div>
        <p class="lg:p3 px-1 py-1 text-sm lg:text-xl">
          We don’t know what he does, nobody does. And we’ve
          stopped asking.
        </p>
      </div>
    </div>

    <!-- Adi Shankar -->
    <div
      class="flex w-full items-center rounded-xl bg-black text-white"
    >
      <img
        src="website-v2/people/adi.png"
        class="h-28 items-center p-3 lg:h-40"
      />
      <div class="flex w-full flex-col">
        <div class="flex w-full justify-between px-5 py-3">
          <p
            class="font-header text-xl font-extrabold text-orange lg:text-5xl"
          >
            Adi Shankar
          </p>
          <div class="flex">
            <a>
              <img
                src="website-v2/people/github.png"
                class="m-1 h-8 rounded-xl bg-white lg:h-10"
              />
            </a>
            <a>
              <img
                src="website-v2/people/twitter.png"
                class="m-1 h-8 rounded-xl bg-white lg:h-10"
              />
            </a>
          </div>
        </div>
        <p class="lg:p3 px-1 py-1 text-sm lg:text-xl">
          Our puzzling friend who is behind our logo and our
          name. Though he has been aloof for most of it.
        </p>
      </div>
    </div>
  </div>
  <!-- end -->
</div>
