---
const list = [
  {
    week: "Week 01",
    name: "Introductions",
    chNo: "",
    bg: "bg-white",
  },
  {
    week: "Week 02",
    name: "Introducing Bitcoin; Setting up Bitcoin core VPS; Understanding your bitcoin setup",
    chNo: "01-03",
    bg: "bg-peach",
  },
  {
    week: "Week 03",
    name: "Sending Bitcoin Transactions; Controlling bitcoin TXNs",
    chNo: "04-05",
    bg: "bg-white",
  },
  {
    week: "Week 04",
    name: "Expanding Bitcoin Transactions’ Multisigs; Expanding Bitcoin Transactions’ PSBTs",
    chNo: "06-07",
    bg: "bg-peach",
  },
  {
    week: "Week 05",
    name: "Expanding Bitcoin Transactions Other; Introducing Bitcoin Scripts",
    chNo: "08-09",
    bg: "bg-white",
  },
  {
    week: "Week 06",
    name: "Embedding Bitcoin Scripts in P2SH Transactions; Empowering Timelock with Bitcoin Scripts",
    chNo: "10-11",
    bg: "bg-peach",
  },
  {
    week: "Week 07",
    name: "Expanding Bitcoin Scripts; Designing Real Bitcoin Scripts",
    chNo: "12-13",
    bg: "bg-white",
  },
  {
    week: "Week 08",
    name: "Conclusions and Next Steps",
    chNo: "",
    bg: "bg-peach",
  },
];
---

<div class="mb-10 lg:p-5">
  <p class="mb-2">Content</p>
  <h1 class="font-header text-2xl font-bold lg:text-4xl">
    What will you learn with this study cohort
  </h1>
  <div class="mb-2 mt-5 flex">
    <p class="w-1/6 lg:w-1/12 lg:pl-5">Weeks</p>
    <p class="w-4/6 pl-5 lg:w-10/12">Lessons</p>
    <p class="w-2/6 lg:w-1/12">Chapters</p>
  </div>
  <hr class="border-spacing-12 border-dashed" />
  {
    list.map((item) => (
      <>
        <div
          class={`flex items-center justify-center  ${item.bg} px-3 py-5`}
        >
          <p class="w-1/6 rounded-lg bg-orange py-2 text-center text-white lg:w-1/12">
            {item.week}
          </p>
          <p class="w-4/6 pl-5 text-xl font-bold lg:w-10/12">
            {item.name}
          </p>
          <p class="w-2/6 lg:w-1/12">{item.chNo}</p>
        </div>
        <hr class=" border-spacing-12 border-dashed" />
      </>
    ))
  }
</div>
