<div class="flex flex-col">
  <div class="my-5 flex flex-col xl:my-0 xl:flex-row">
    <div
      class="flex flex-col items-center justify-center bg-peach p-5 xl:w-1/2 xl:p-10"
    >
      <span class="text-orange"></span>
      <h1
        class="font-header text-3xl font-bold xl:text-6xl"
      >
        Live cohorts with <span class="text-orange"
          >like-minded bitcoiners</span
        >
      </h1>
      <p class="my-10 xl:text-2xl">
        Whether from India, SEA, or outside, cohorts are the
        best way to discover other bitcoiners with similar
        hunger, curiosity, physical location, and technical
        acumen.
      </p>
    </div>
    <div
      class="bg-orange px-5 pt-5 xl:w-1/2 xl:px-32 xl:pt-32"
    >
      <img
        src="/cohort/checkerboard1.webp"
        class="w-auto"
        alt="Cohort Community"
      />
    </div>
  </div>
  <div class="flex flex-col xl:flex-row">
    <div
      class="bg-orange px-5 pt-5 xl:w-1/2 xl:px-32 xl:pt-32"
    >
      <img
        src="/cohort/checkerboard2.webp"
        class="w-auto"
        alt="Structured Cohort"
      />
    </div>
    <div
      class="flex flex-col items-center justify-center bg-peach p-5 xl:w-1/2 xl:p-10"
    >
      <h1
        class="font-header text-3xl font-bold xl:text-6xl"
      >
        Guided but focussed on <span class="text-orange"
          >self-study</span
        >
      </h1>
      <p class="my-10 xl:text-2xl">
        Our curriculum, teaching assistants and assistance
        is available all the time, for free. But Bitcoin is
        for sovereign and not sheeps. Only you can teach
        yourself.
      </p>
    </div>
  </div>
  <div class="flex flex-col xl:flex-row">
    <div
      class="my-5 flex flex-col items-center justify-center bg-peach p-5 xl:my-0 xl:w-1/2 xl:p-10"
    >
      <h1
        class="font-header text-3xl font-bold xl:text-6xl"
      >
        Work at <span class="text-orange">
          Bitcoin FOSS
        </span> or ventures
      </h1>
      <p class="my-10 xl:text-2xl">
        Your contributions during and beyond the cohort can
        earn you an opportunity to work via BitShala
        incubated FOSS projects and job board.
      </p>
    </div>
    <div
      class="bg-orange px-5 pt-5 xl:w-1/2 xl:px-32 xl:pt-32"
    >
      <img
        src="/cohort/checkerboard3.webp"
        class="w-auto"
        alt="Cohort Job Board"
      />
    </div>
  </div>
</div>
