---
const cardsList = [
  {
    name: "Learning Bitcoin From Command Line",
    img: "/website-v2/cohort/lbtcl.png",
    desc: "Donec laoreet congue justo at rhoncus. Nam aliquet suscipit feugiat...",
    url: "/website-v2/cohorts/lbtcl",
  },
  {
    name: "Mastering Bitcoin by Andreas M. ",
    img: "/website-v2/cohort/masteringBitcoin.png",
    desc: "Donec laoreet congue justo at rhoncus. Nam aliquet suscipit feugiat... am aliquet suscipit feugiat... am aliquet suscipit feugiat... am aliquet suscipit feugiat...",
    url: "/website-v2/cohorts/lbtcl",
  },
  {
    name: "Learning Bitcoin From Command Line",
    img: "/website-v2/cohort/lbtcl.png",
    desc: "Donec laoreet congue justo at rhoncus. Nam aliquet suscipit feugiat...",
    url: "/website-v2/cohorts/lbtcl",
  },
  {
    name: "Mastering Bitcoin by Andreas M. ",
    img: "/website-v2/cohort/masteringBitcoin.png",
    desc: "Donec laoreet congue justo at rhoncus. Nam aliquet suscipit feugiat...",
    url: "/website-v2/cohorts/mb",
  },
];
---

<div
  class="grid grid-cols-1 grid-rows-1 gap-10 px-6 md:-translate-y-40 md:grid-cols-2 xl:grid-cols-4"
>
  {
    cardsList.map((card, index) => (
      <div
        class={`flex flex-col justify-between rounded-2xl ${
          index % 2 == 0 ? "bg-orange" : "bg-black"
        } my-2  p-3 text-white`}
      >
        <img src={card.img} class="w-fit" />
        <div class="my-2 px-3">
          <p class="text-sm lg:text-xl">
            cohort #0{index + 1}
          </p>
          <h1 class="text-2xl font-semibold lg:text-4xl">
            {card.name}
          </h1>
          <p class="text-base lg:text-xl">{card.desc}</p>
        </div>
        <a href={card.url}>
          <button
            class={`my-2 w-full rounded-lg text-base  lg:text-xl ${
              index % 2 == 0
                ? "bg-white text-black hover:bg-black hover:text-peach"
                : "bg-black text-white hover:bg-orange hover:text-white"
            } border-2 border-dotted border-white px-3 py-5 font-semibold `}
          >
            Visit the Cohort Page
          </button>
        </a>
      </div>
    ))
  }
</div>
