<div class="lg:p-8">
  <h3 class="mb-8 text-2xl font-bold text-orange">
    Weekly Preparation
  </h3>

  <div class="font-medium lg:text-2xl">
    <div class="mb-5">
      <span class="font-bold">Weekly Preparation</span> Please
      review the weekly chapters and questions in the document.
      These will also be posted on the <span
        class="font-bold">Discord notice-board</span
      > to aid preparation.
    </div>

    <ul class="list-disc pl-5 lg:pl-10">
      <li class="mb-5">
        Each Wednesday, participants will join the <span
          class="font-bold">LN Discord Stage</span
        >.
      </li>

      <li class="mb-5">
        Participants will be randomly asked to answer any of
        the questions from the weekly study material.
      </li>

      <li class="mb-5">
        You must <span class="font-bold"
          >thoroughly answer your assigned question</span
        > in the group discussion for 60 minutes.
      </li>

      <li class="mb-5">
        TAs will be available to provide <span
          class="font-bold"
          >extra context and further studies</span
        > on the discussed topics.
      </li>

      <li class="mb-5">
        Participants will be <span class="font-bold"
          >evaluated based on the quality of their answers</span
        >.
      </li>

      <li class="">
        Weekly Study Material covers the <span
          class="font-bold"
          >study topics and Questions related to the topics</span
        >
        for that week.
      </li>
    </ul>
  </div>
</div>

<div class="lg:p-8">
  <h3 class="mb-8 text-2xl font-bold text-orange">
    Cohort Communication and Participation
  </h3>

  <div class="font-medium lg:text-2xl">
    <ul class="list-disc pl-5 lg:pl-10">
      <li>
        <span class="font-bold"
          >Discord will be the primary communication
          platform</span
        >. Below are the main channels where all actions
        will happen.
        <ul class="ml-6 mt-3">
          <li>
            - General: For all general cohort-related
            conversations.
          </li>
          <li>
            - Notice Board: For all cohort-related
            information and notifications.
          </li>
          <li>
            - LN Stage: Voice channel for weekly GD
            sessions.
          </li>
        </ul>
      </li>

      <li>
        Meetings occur weekly at the scheduled time, and
        Participants are encouraged to attend every session.
      </li>

      <li>
        Please introduce yourself in Bitshala Discord's <span
          class="font-bold">#Intro channel</span
        > with a brief about your background, work, and interests.
        You can use a unique icon if you are uncomfortable using
        a personal photo.
      </li>
    </ul>
  </div>
</div>
