<footer class="w-full px-4 py-16 md:px-8 lg:px-24 xl:px-32">
  <div class="mx-auto">
    <h3 class="mb-8 font-boss text-6xl">
      Want <span class="text-[#D4FF00]">in</span>?
    </h3>

    <p class="mb-8 leading-relaxed">
      The BOSS Summit is invite-only, but you can request an
      invite. When you apply, tell us briefly:
    </p>

    <ol class="mb-12 space-y-4 text-lg">
      <li>
        1. What you build (links: GitHub, repo, or project).
      </li>
      <li>
        2. One or two problems you'd bring to the summit.
      </li>
      <li>
        3. Confirmation that you can attend all three days.
      </li>
    </ol>

    <div class="mb-16 flex gap-12">
      <div class="w-full space-y-8">
        <div
          class="flex w-full flex-col justify-between gap-4 lg:flex-row lg:gap-12"
        >
          <div class="flex items-center gap-4">
            <img
              src="/boss/goa.png"
              alt="Location"
              class="h-12 w-12"
            />
            <span class="text-xl">Goa</span>
          </div>

          <div class="flex items-center gap-4">
            <img
              src="/boss/date.png"
              alt="Date"
              class="h-12 w-12"
            />
            <span class="text-xl"
              >28th October - 31th October</span
            >
          </div>
          <div class="flex justify-end">
            <img
              src="/boss/comein.png"
              alt="Come in door hanger"
              class="w-48"
            />
          </div>
        </div>

        <div class="pt-4">
          <a
            href="https://luma.com/bitplebsboss"
            target="_blank"
            class="rounded-lg bg-[#662c53] px-12 py-4 font-boss text-4xl transition-colors hover:bg-[#9B6A8C]"
          >
            Book Your Seat
          </a>
          <p class="text-gray-400 my-5">
            If invited, we'll share the exact location,
            logistical details, and any participation
            guidelines. We keep the room small on purpose
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
