---
const takeaways = [
  {
    name: "Solid Understanding",
    desc: "Gain a deep understanding of Bitcoin’s protocol, architecture, and security",
  },
  {
    name: "Hands-On Experience",
    desc: "Get practical experience with Bitcoin development and tools",
  },
  {
    name: "Economic Insights",
    desc: "Understand the economic and philosophical aspects of Bitcoin",
  },
  {
    name: "Community",
    desc: "Join and connect with a vibrant Bitcoin community of like-minded individuals",
  },
  {
    name: "Certification",
    desc: "Earn a certificate of cohort completion as your proof-of-work",
  },
  {
    name: "First Step to Contribution",
    desc: "Be able to take your first step to contribute confidently to Bitcoin projects and communities",
  },
  {
    name: "Fellowship Opportunities",
    desc: "Gain access to fellowship opportunities at Bitshala and exclusive invites to Bitspace for more physical community experiences",
  },
];
---

<div class="lg:p-8">
  <h1
    class="mb-3 mt-8 font-header text-3xl font-bold md:text-6xl lg:mb-16 lg:text-6xl"
    id="about_us"
  >
    About the Clubs
  </h1>
  <p class="font-base text-base md:text-base lg:text-2xl">
    <span class="font-bold text-orange"
      >Why do we do them?</span
    >
     Our clubs bring Bitcoin enthusiasts together to foster
    community, spark discussions, and deepen understanding
    of diverse Bitcoin topics. By exploring these areas
    together, you not only grow your own knowledge but also
    strengthen the Bitcoin community in India.
  </p>
  <p class="my-5 text-base md:text-base lg:text-2xl">
    <span class="font-bold text-orange">Who is it for?</span
    >
     Our clubs are for all Bitcoin enthusiasts. Whether
    you’re a developer looking for deep technical dives, or
    a non-tech enthusiast eager to explore Bitcoin through
    engaging discussions. If you’re passionate about Bitcoin
    and want to learn more, you’ll find your people here.
  </p>
  <p class="text-base md:text-base lg:text-2xl">
    <span class="font-bold text-orange"> How to join?</span>
    <span>
      Joining is simple — just hop onto our <a
        class="text-orange underline"
        href="https://discord.com/invite/STeQFVEWf9"
        >Discord</a
      >, and you’re in!
    </span>
  </p>
</div>
