<div class="lg:p-8">
  <h1
    class="mb-3 mt-8 font-header text-3xl font-bold md:text-6xl lg:mb-16 lg:text-6xl"
    id="about_us"
  >
    About
  </h1>
  <p class="font-base text-base md:text-base lg:text-2xl">
    <span class="font-bold text-orange">What is it?</span>
     It’s your weekly spot for the Bitcoin bookworms to come
    together to take a dive into the pages of Bitcoin
    literature. The books are chosen by the community
    members and the books cover various topics like Austrian
    economics, Bitcoin philosophy, foundational
    understanding about Bitcoin’s innovation and much more.
  </p>
  <p class="my-5 text-base md:text-base lg:text-2xl">
    <span class="font-bold text-orange">Who is it for?</span
    >
     This club is for all Bitcoin enthusiasts, especially
    the non-technical ones. All you need to join is
    curiosity and a hunger to learn more about Bitcoin.
  </p>
</div>
