<div
  class="my-10 flex flex-wrap items-center justify-between gap-10 rounded-3xl bg-peach p-6 max-md:px-5"
>
  <div
    class="my-auto flex w-[526px] min-w-[240px] flex-col self-stretch pl-5 max-md:max-w-full"
  >
    <div class="flex w-full flex-col max-md:max-w-full">
      <h2
        class="text-2xl font-bold leading-tight max-md:max-w-full lg:text-4xl"
      >
        Ongoing Book
      </h2>
      <div
        class="mt-9 flex w-full flex-col text-xl leading-7 max-md:max-w-full"
      >
        <p class="text-base max-md:max-w-full lg:text-xl">
          Currently, we're reading 'Bitcoin: The Inverse of
          Clown World' by Knut Svanholm and Luke De Wolf.
        </p>
        <p
          class="mt-6 text-base max-md:max-w-full lg:text-xl"
        >
          The book explores the take of Knut and Luke on
          Bitcoin, freedom, societal shifts in a world
          plagued by economic and political absurdities.
          Together we're unravelling the clownery, every
          week.
        </p>
      </div>
    </div>
    <a
      href="#"
      class="mt-5 text-base font-bold text-orange lg:text-xl"
      tabindex="0">Join in for the next session →</a
    >
  </div>
  <img
    loading="lazy"
    src="/readingClub/inverse.webp"
    class="my-auto aspect-[1.78] w-[576px] min-w-[240px] self-stretch rounded-lg object-contain shadow-[4px_2px_14px_rgba(0,0,0,0.1)] max-md:max-w-full"
    alt="Book cover or reading session illustration for 'Bitcoin: The Inverse of Clown World'"
  />
</div>
