<div class="lg:p-8">
  <h1
    class="mb-8 mt-8 text-center font-header text-3xl font-bold md:text-6xl lg:text-8xl"
    id="about_us"
  >
    About
  </h1>

  <p class="m-4 text-lg md:text-lg lg:text-2xl">
    Bitshala is a <span class="font-bold text-orange"
      >grass-root education initiative</span
    > led by Indian Bitcoiners, focused on strengthening the
    Bitcoin ecosystem by <span class="font-bold text-orange"
      >nurturing and supporting Bitcoin FOSS (Free and Open
      Source Software) Devs.</span
    > Our mission is to equip people with the skills and
    knowledge needed to contribute to Bitcoin FOSS projects.
  </p>
  <p class="m-4 my-8 text-lg md:text-lg lg:text-2xl">
    While a lot of Blockchain courses exist out there to
    provide surface-level API lessons on EVM like "smart
    contracts", the technical knowledge requirements for
    Bitcoin Development are much wider and nuanced. Bitcoin
    is a multidisciplinary subject covering Software
    Engineering, System Engineering, Networking Protocol
    Design, Game Theory, Cryptography, Economics, and Social
    Dynamics of Complex Systems like the Market. Thus,
    creating a comprehensive bitcoin course is probably
    impossible in its entirety, and nothing in the existing
    academia and programming boot camps satisfies such
    requirements. New people trying to enter into Bitcoin
    development thus have to scour through a big set of
    parallel subject domains, not well organized and spread
    across the internet.
  </p>
  <p class="m-4 text-lg md:text-lg lg:text-2xl">
    Thus Bitshala aims to provide the ground for ideating,
    producing, and publishing different categories of
    content in Open Source to satisfy the varied learning
    need of an aspiring Bitcoin Developer.
  </p>
</div>
