<div class="w-full rounded-lg bg-peach p-10">
  <div class="text-start">
    <h2
      class="text-7xl font-bold leading-none max-md:max-w-full max-md:text-4xl"
    >
      Get updates from us
    </h2>
    <p class="my-5 text-start text-2xl">
      Bitshala is a grassroots, organic education initiative
      (a pathshala) led by Indian bitcoiners, guiding and
      providing resources for new developers on their
      Bitcoin journey.
    </p>
    <div class="grid grid-cols-2 gap-5">
      <div class="rounded-lg bg-white p-5">
        <h2 class="text-3xl font-bold">
          Subscribe to our Newsletter
        </h2>
        <p class="my-5 text-lg">
          Sign up to not miss out on your weekly Bitcoin
          reading and learning sessions. We'll make sure you
          know exactly when to.
        </p>
      </div>
      <div class="rounded-lg bg-white p-5">
        <h2 class="text-3xl font-bold">
          Recieve Calender Invites
        </h2>
        <p class="my-5 text-lg">
          Sign up to not miss out on your weekly Bitcoin
          reading and learning sessions. We'll make sure you
          know exactly when to tune in. It's as simple as
          clicking the button below.
        </p>
        <a
          href="https://calendar.google.com/calendar/u/0?cid=Y29udGFjdEBiaXRzaGFsYS5vcmc"
          target="_blank"
          class="text-orange underline"
          >Get calendar invites</a
        >
      </div>
    </div>
  </div>
</div>
