<div
  class="mt-10 flex flex-col items-center justify-center lg:mb-48"
>
  <div
    class="mb-8 mt-12 flex w-full flex-col items-center gap-5 rounded-xl bg-black py-4 pl-5 pr-4 text-white lg:mb-8 lg:flex-row lg:justify-between"
  >
    <div class="my-auto text-base lg:text-xl">
      We meet every day at 8:00 PM IST. Interested? Get
      calendar invites to never miss a session!
    </div>
    <div class="flex gap-3">
      <a
        href="https://calendar.google.com/calendar/u/0?cid=Y29udGFjdEBiaXRzaGFsYS5vcmc"
        target="_blank"
        class="mx-4 rounded-md bg-orange px-2 py-1 text-center text-base hover:bg-white hover:text-orange lg:text-xl"
      >
        Receive calendar invites
      </a>
    </div>
  </div>

  <div
    class="my-5 flex w-full flex-col justify-between gap-2 rounded-3xl bg-peach px-3 py-5 align-middle hover:bg-[#fce2cf] lg:m-5 lg:flex-row lg:gap-5"
  >
    <div class="mx-2 my-auto lg:mx-5 lg:pt-8">
      <h3 class="font-header text-3xl lg:text-4xl">
        See us in action
      </h3>
      <p class="my-2 text-base lg:text-xl">
        Missed a session or curious about how our clubs run?
        Catch up on recorded sessions of our lively
        discussions and hands-on activities.
      </p>
      <a
        href="https://www.youtube.com/@bitshala/videos"
        class="font-header text-base font-medium text-orange hover:underline lg:text-xl"
        target="_blank"
      >
        Watch Recordings on YouTube →
      </a>
    </div>
    <div>
      <img
        src="/calender/yt.webp"
        class="rounded-2xl p-2 lg:aspect-video lg:h-[300px] lg:w-[900px]"
      />
    </div>
  </div>
</div>
