<div
  class="mb-24 grid items-start justify-between gap-8 text-xl sm:grid-cols-1 lg:grid-cols-2"
>
  <div
    class="flex flex-col rounded-3xl bg-peach px-7 py-8 max-md:max-w-full max-md:px-5"
  >
    <h2 class="mb-7 text-2xl font-bold lg:text-4xl">
      Watch us in action
    </h2>
    <p class="mb-7 text-base lg:text-xl">
      Want to take a look at how the club runs? Have a look
      below. OR if you missed our live reading club... Catch
      up with the recordings here and join the conversation
      at your own pace.
    </p>
    <a
      href="https://www.youtube.com/@bitshala/videos"
      class="text-base font-bold text-orange lg:text-xl"
      tabindex="0"
    >
      Watch Recordings on YouTube →
    </a>
  </div>

  <div
    class="flex flex-col rounded-3xl bg-[#d8d7d7] px-7 py-8 max-md:max-w-full max-md:px-5"
  >
    <h2 class="mb-7 text-2xl font-bold lg:text-4xl">
      Receive Calendar Invites
    </h2>
    <p class="mb-7 text-base lg:text-xl">
      Sign up to not miss out on your weekly Bitcoin reading
      and learning sessions. We'll make sure you know
      exactly when to tune in. It's as simple as clicking
      the button below.
    </p>
    <a
      href="https://calendar.google.com/calendar/u/0?cid=Y29udGFjdEBiaXRzaGFsYS5vcmc"
      class="text-base font-bold text-orange lg:text-xl"
      tabindex="0"
    >
      Get Calendar Invites →
    </a>
  </div>
</div>
