---
const list = [
  {
    name: "Org ",
    subMenu: [
      { name: "About", link: "/about" },
      {
        name: "Contact us",
        link: "/about/#contact_us",
      },
    ],
  },
  {
    name: "Bitcoin Career ",
    subMenu: [
      { name: "Study cohorts", link: "/cohorts" },
      { name: "Bitcoin Clubs", link: "/clubs" },
      { name: "Fellowship", link: "/fellowship" },
    ],
  },
  {
    name: "IRL Funzzz ",
    subMenu: [
      { name: "Bitspace", link: "/bitspace" },
      { name: "BITDEVS", link: "/bitdev" },
      { name: "BOSS", link: "/boss" },
      {
        name: "Bitplebs Summit",
        link: "https://bitplebs.in/",
      },
    ],
  },
  {
    name: "Social Clubs ",
    subMenu: [
      {
        name: "Latest in Bitcoin Tech",
        link: "/optech",
      },
      { name: "Reading Club", link: "/readingClub" },
      {
        name: "Bitcoin PR Review Club",
        link: "/review",
      },
      {
        name: "Hands-on Lightning",
        link: "https://discord.gg/7PGCfrwZ?event=1284138868777553962",
      },
      { name: "Bitcoin Talks", link: "/talks" },
    ],
  },
];
---

<footer class="mt-5 bg-black pb-10 text-white lg:py-14">
  <div>
    <div class="flex flex-col lg:flex-row">
      <div
        class="hidden justify-center p-10 lg:flex lg:w-2/5"
      >
        <a href="/">
          <img
            src="/home/logo.png"
            class="h-14"
            alt="Bitshala Logo"
          />
        </a>
      </div>

      <div class="lg:w-3/5">
        <div
          class="m-3 rounded-lg bg-white p-4 text-base font-medium text-black lg:m-10 lg:flex lg:w-fit lg:px-10 lg:text-2xl"
        >
          <div class="p-5 font-header">
            We got a <span class="font-bold"
              >discord community</span
            > of hungry <br /> and passionate Bitcoin developers....
          </div>
          <a
            href="https://discord.com/invite/STeQFVEWf9"
            target="_blank"
          >
            <div
              class="rounded-lg bg-black p-5 font-header font-medium text-white hover:bg-orange lg:mt-3 lg:px-8"
            >
              Ahh.. I think I'll fit right in!
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row-reverse">
    <div
      class="ml-3 grid grid-cols-2 p-2 lg:ml-24 lg:mr-56 lg:w-3/5 lg:grid-cols-4"
    >
      {
        list.map((item) => (
          <>
            <div class="my-4 ">
              <p class=" my-2 font-header text-sm text-white text-opacity-60 lg:text-xl">
                {item.name}
              </p>
              <ul>
                {item.subMenu.map((subItem) => (
                  <li class="my-2 text-sm font-bold  lg:gap-3 lg:text-lg">
                    <a
                      href={subItem.link}
                      class="hover:text-orange"
                      target="_blank"
                    >
                      {subItem.name}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          </>
        ))
      }
    </div>
    <div
      class="mt-5 flex flex-row-reverse justify-between px-3 sm:justify-between lg:ml-28 lg:w-2/5 lg:flex-col lg:items-center lg:justify-normal"
    >
      <div class="-ml-16 mt-10 flex gap-4">
        <a href="https://x.com/bitshala_org">
          <img
            src="/logo/1.png"
            class="h-8 scale-125 lg:h-10"
            alt=""
          />
        </a>
        <a href="https://www.youtube.com/@bitshala">
          <img
            src="/logo/2.png"
            class="h-8 lg:h-10"
            alt=""
          />
        </a>
        <a href="https://www.linkedin.com/company/bitshala">
          <img
            src="/logo/3.png"
            class="h-8 lg:h-10"
            alt=""
          />
        </a>
        <a
          href="https://primal.net/p/npub1m495fdq2e8jleptdq6ruzpmz0esjttln2rjx7dxj9w4zvxs48y3q5pu22l"
        >
          <img
            src="/logo/4.png"
            class="h-8 lg:h-10"
            alt=""
          />
        </a>
      </div>
      <p
        class="text-md mt-10 block px-1 text-left lg:hidden"
      >
        Copyright © 2024 <br /> Bitshala
      </p>
      <p
        class="-ml-16 mt-5 hidden px-1 text-base lg:block lg:text-lg"
      >
        Copyright © 2024 Bitshala
      </p>
    </div>
  </div>
</footer>
