---
import Footer from "../components/common/Footer.astro";
import Header from "../components/common/Header.astro";
import Hamburger from "../components/common/hamburger";
interface Props {
  title: string;
  headerProps: any;
}

const { title, headerProps } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Bitshala: A Pathshala for Bitcoin"
    />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="/website-v2/favicon.svg"
      sizes="any"
      type="image/svg+xml"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-white">
    <div class="m-auto max-w-screen-2xl">
      <nav
        class="fixed left-0 top-0 z-50 w-full bg-black bg-opacity-[0.95] p-4"
      >
        <div class="m-auto flex w-full justify-between">
          <a href="/website-v2">
            <img
              src="/website-v2/footer/logo.png"
              class="h-16"
            />
          </a>
          <Hamburger client:only />
        </div>
      </nav>
      <Header {...headerProps}>
        <slot name="headerChild" />
      </Header>
      <div class="isolate z-0"><slot /></div>
    </div>
    <Footer />
  </body>

  <style>
    @font-face {
      font-family: "Aeonik Fono";
      src: url("/website-v2/fonts/AeonikFono.otf")
        format("opentype");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: "Firs Neue";
      src: url("/website-v2/fonts/FirsNeue.ttf")
        format("truetype");
      font-weight: bold;
      font-style: normal;
      font-display: swap;
    }
    html {
      font-family: "Aeonik Fono", sans-serif;
    }
    h1 {
      font-family: "Firs Neue", sans-serif;
      font-weight: bold;
    }
  </style>
</html>
