---

---

<div class="my-20">
  <h1 class="mb-5 mt-10 font-header text-5xl">
    About BITDEVS
  </h1>
  <p class="mb-5 text-xl">
    Ever wanted to just sit down and talk about Bitcoin
    coding stuff with people who get it? BITDEVS is where
    you meet people who code and breathe Bitcoin. We talk
    about real Bitcoin projects, share code, and solve
    problems together in a language we all understand. No
    fluff, just Bitcoin and code.
  </p>
  <h1 class="mb-5 mt-10 font-header text-5xl">
    Upcoming Meetup
  </h1>
  <p class="mb-10 text-xl">
    We're all about diving into Bitcoin's tech together.
    Whether it's your first time joining us or you're a
    regular, there's always something new to learn and
    people to meet. Check out the next one below....
  </p>
  <div class="flex rounded-3xl bg-[#fff] p-10 shadow-xl">
    <img
      src="/meetup/Bengaluru_BITDEVS_March.webp"
      class="h-[50vh] rounded-lg"
    />
    <div class="mx-10 my-10 flex flex-col">
      <h1 class="mb-5 font-header text-5xl text-orange">
        Silent Payments Deep Dive
      </h1>
      <p class="text-xl">
        Get ready for another exciting Bitcoin Tech Meetup
        in Bangalore, this time diving deep into the world
        of Silent Payments! We'll explore how this
        innovative tech enhances privacy and efficiency
        within the Bitcoin network.
      </p>
      <a
        href="https://discord.com/invite/STeQFVEWf9"
        target="_blank"
        class="text-m mt-5 w-1/2 rounded-lg p-4 text-center outline-dashed hover:bg-orange hover:text-white lg:text-xl"
        >Tell me more</a
      >
    </div>
  </div>
</div>
